# Advanced Querying Mongo

Importing libraries and setting up connection with "companies" collection. As in class, call it `c`

In [1]:
from pymongo import MongoClient
client = MongoClient("localhost:27017")

In [2]:
client.list_database_names()

['Ironhack', 'admin', 'config', 'local']

In [3]:
db = client['Ironhack']

In [4]:
db.list_collection_names()

['companies', 'shoes', 'Restaurants']

In [5]:
c = db.get_collection('companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [6]:
filter = {'name':{'$regex':'.*Babelgum.*'}}
projection = {'name': 1, '_id': 0}
list(c.find(filter, projection))

[{'name': 'Babelgum'}]

In [7]:
len(list(c.find(filter, projection)))

1

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [8]:
filter = {'number_of_employees':{'$gt': 5000}}
projection = {'name': 1, '_id': 0}
list(c.find(filter, projection).sort('number_of_employees', -1).limit(20))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'},
 {'name': 'Sony'},
 {'name': 'LG'},
 {'name': 'Ford'},
 {'name': 'Boeing'},
 {'name': 'Digital Equipment Corporation'},
 {'name': 'Nokia'},
 {'name': 'MItsubishi Electric'},
 {'name': 'MItsubishi Electric'},
 {'name': 'Comcast'},
 {'name': 'Bertelsmann'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [57]:
firstyear = {'founded_year': {'$gte': 2000}}
lastyear = {'founded_year': {'$lte': 2005}}
filter = {"$and": [firstyear, lastyear]}
projection = {'name': 1, 'founded_year': 1, '_id': 0}
len(list(c.find(filter, projection)))

3734

In [58]:
list(c.find(filter, projection))[:5]

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005}]

In [59]:
import pandas as pd

In [60]:
df = pd.DataFrame(list(c.find(filter, projection)))
df

                name  founded_year
0           Wetpaint          2005
1               Zoho          2005
2               Digg          2004
3           Facebook          2004
4          Omnidrive          2005
...              ...           ...
3729  EnterSys Group          2000
3730  Axon Solutions          2004
3731         Intergy          2003
3732      AfterLogic          2002
3733       EnteGreat          2000

[3734 rows x 2 columns]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [11]:
amount = {"ipo.valuation_amount": {'$gt': 100000000}}
year = {'founded_year': {'$lt': 2010}}
filter = {'$and': [amount, year]}
projection = {'name': 1, 'ipo.valuation_amount': 1, '_id': 0}
len(list(c.find(filter, projection)))

42

In [12]:
list(c.find(filter, projection))[:5]

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [13]:
filter = {'$and': [{'number_of_employees': {'$lt': 1000}, 'founded_year': {'$lt': 2005 }}]}
projection = {'name': 1, 'founded_year': 1, 'number_of_employees': 1, '_id': 0}
list(c.find(filter, projection).sort('number_of_employees', -1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

Same thing a bit tidier

In [14]:
employees = {'number_of_employees': {'$lt': 1000}}
year = {'founded_year': {'$lt': 2005 }}
filter = {'$and': [employees, year]}
projection = {'name': 1, 'founded_year': 1, 'number_of_employees': 1, '_id': 0}
list(c.find(filter, projection).sort('number_of_employees', -1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [15]:
filter = {'partners': {'$exists': False}}
projection = {'name': 1, '_id': 0}
list(c.find(filter, projection))

[{}]

In [16]:
len(list(c.find(filter, projection)))

1

### 7. All the companies that have a null type of value on the `category_code` field.

In [17]:
filter = {'category_code': None}
projection = {'name': 1, '_id': 0}
len(list(c.find(filter, projection)))

2752

In [18]:
list(c.find(filter, projection))[:5]

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [19]:
filter = {'$and': [{'number_of_employees': {'$lt': 1000}, 'number_of_employees': {'$gt': 100 }}]}
projection = {'name': 1, 'number_of_employees': 1, '_id': 0}
len(list(c.find(filter, projection)))

992

In [20]:
list(c.find(filter, projection))[:5]

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'Zoho', 'number_of_employees': 1600},
 {'name': 'Facebook', 'number_of_employees': 5299},
 {'name': 'Twitter', 'number_of_employees': 1300},
 {'name': 'eBay', 'number_of_employees': 15000}]

### 9. Order all the companies by their IPO price in a descending order.

In [21]:
filter = {}
projection = {'name': 1, 'ipo.valuation_amount': 1, '_id': 0}
list(c.find(filter, projection).sort('ipo.valuation_amount', -1))[:5]

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [22]:
projection = {'name': 1, 'number_of_employees': 1, '_id': 0}
list(c.find({}, projection).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [23]:
filter = {'founded_month': {'$in': list(range(7,13))}} 
projection = {'name': 1, 'founded_month': 1, '_id': 0}
list(c.find(filter, projection).limit(1000))[:5]

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [24]:
year = {'founded_year': {'$lt': 2000}}
amount = {'acquisition.price_amount': {'$gt': 1000000} }
filter = {'$and': [year, amount]}
projection = {'name': 1, 'acquisition.price_amount': 1, 'founded_year': 1, '_id': 0}
len(list(c.find(filter, projection)))

224

In [25]:
list(c.find(filter, projection))[:5]

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [26]:
filter = {'acquisition.acquired_year': {'$gt': 2010}}
projection = {'name': 1, 'acquisition': 1, '_id': 0}
len(list(c.find(filter, projection).sort('acquisition.price_amount', -1)))

736

In [27]:
list(c.find(filter, projection).sort('acquisition.price_amount', -1))[:2]

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}},
 {'name': 'Goodrich Corporation',
  'acquisition': {'price_amount': 18400000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.masshightech.com/stories/2011/09/19/daily37-UTC-shells-out-184-billion-for-Goodrich.html',
   'source_description': 'UTC shells out $18.4 billion for Goodrich',
   'acquired_year': 2011,
   'acquired_month': 9,
   'acquired_day': 22,
   'acquiring_company': {'name': 'United Technologies',
    'permalink': 'united-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [28]:
filter = {'founded_year': {'$ne': None}}
projection = {'name': 1, 'founded_year': 1, '_id': 0}
list(c.find(filter, projection).sort('founded_year'))[:10]

[{'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'US Army', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'VideoSurf', 'founded_year': 1840}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [29]:
filter = {'founded_day': {'$lte': 7}}
projection = {'name': 1, 'founded_day': 1, 'acquisition.price_amount': 1, '_id': 0}
list(c.find(filter, projection).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'BlueLithium',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [30]:
category = {'category_code': 'web'}
employees = {'number_of_employees':{'$gt': 4000}}
filter = {'$and': [category, employees]}
projection = {'name': 1, 'number_of_employees': 1, '_id': 0}
len(list(c.find(filter, projection).sort('number_of_employees')))

9

In [31]:
list(c.find(filter, projection).sort('number_of_employees'))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Groupon', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'number_of_employees': 13600},
 {'name': 'eBay', 'number_of_employees': 15000},
 {'name': 'Experian', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [32]:
amount = {'acquisition.price_amount': {'$gt': 10000000}}
eur = {'acquisition.price_currency_code': 'EUR'}
filter = {'$and': [amount, eur]} 
projection = {'name': 1, 'acquisition.price_amount': 1, '_id': 0}
len(list(c.find(filter, projection)))

7

In [33]:
list(c.find(filter, projection))

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}},
 {'name': 'Tuenti Technologies', 'acquisition': {'price_amount': 70000000}},
 {'name': 'BioMed Central', 'acquisition': {'price_amount': 43400000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [34]:
filter = {'acquisition.acquired_month': {'$in': [1,2,3]}}
projection = {'name': 1, 'acquisition': 1, '_id': 0}
list(c.find(filter, projection).limit(10))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}},
 {'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Livestream',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': '',
   'source_description': 'company',
   'acquired_year': 2008,
   'acquired_month': 1,
   'acquired_day': 1,
   'acquiring_company': {'name': 'Adviqo', 'permalink': 'adviqo'}}},
 {'name': 'iContact',
  'acquisition': {'price_amount': 169000000,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://techcrunch.com/2012/02/28/vocus-buys-email-marketing-company-icontact-for-169-million/',
   'source_description': 'Vocus Buys Email Marketing Company iContact For $169 Million',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 28,
   'acquiring_company': {'name': 'Vocus', 'permalink': 'vocus'}}},
 {'name': 'Coghead',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.techcrunch.com/2009/02/19/sap-acquires-cogheads-technology-as-it-looks-towards-the-cloud/',
   'source_description': 'SAP Acquires CogheadÃ¢â‚¬â„¢s Technology As It Looks Towards The Cloud',
   'acquired_year': 2009,
   'acquired_month': 2,
   'acquired_day': 19,
   'acquiring_company': {'name': 'SAP', 'permalink': 'sap'}}},
 {'name': 'Dailymotion',
  'acquisition': {'price_amount': 168000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/02/22/orange-acquired-dailymotion-for-168-million-by-buying-out-the-remaining-51-stake/',
   'source_description': 'Orange Acquired Dailymotion For $168 Million By Buying Out Remaining 51% Stake [Update: Orange Confirms]',
   'acquired_year': 2013,
   'acquired_month': 2,
   'acquired_day': 22,
   'acquiring_company': {'name': 'Orange', 'permalink': 'orange'}}},
 {'name': 'Netvibes',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.marketwatch.com/story/dassault-systemes-acquires-netvibes-2012-02-09',
   'source_description': 'Dassault Systemes Acquires Netvibes',
   'acquired_year': 2012,
   'acquired_month': 2,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Dassault Systemes',
    'permalink': 'dassault'}}},
 {'name': 'Flickr',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': 'cash_and_stock',
   'source_url': 'http://news.cnet.com/Yahoo-buys-photo-sharing-site-Flickr/2100-1038_3-5627640.html?tag=mncol;txt',
   'source_description': 'CNET',
   'acquired_year': 2005,
   'acquired_month': 3,
   'acquired_day': None,
   'acquiring_company': {'name': 'Yahoo!', 'permalink': 'yahoo'}}},
 {'name': 'BabyCenter',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://www.investor.jnj.com/releasedetail.cfm?releaseid=63836',
   'source_description': 'Johnson & Johnson Acquires BabyCenter From eToys, Inc. Leading Online Destination for Parents Plans for Continued Expansion of Operations',
   'acquired_year': 2001,
   'acquired_month': 3,
   'acquired_day': 2,
   'acquiring_company': {'name': 'Johnson & Johnson',
    'permalink': 'johnson-johnson'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [35]:
firstyear = {'founded_year': {'$gte': 2000}}
lastyear = {'founded_year': {'$lt': 2010}}
acquiredyear = {'acquisition.acquired_year': {'$gte': 2011}}
filter = {"$and": [firstyear, lastyear, acquiredyear]}
projection = {'name': 1, 'founded_year': 1, 'acquisition.acquired_year': 1, '_id': 0}
len(list(c.find(filter, projection)))

485

In [36]:
list(c.find(filter, projection))[:5]

[{'name': 'Wetpaint',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Digg',
  'founded_year': 2004,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Geni',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2012}},
 {'name': 'Kyte',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2011}},
 {'name': 'Jingle Networks',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2011}}]

### BONUSASSO 20. All the companies that have been 'deadpooled' after the third year. 
Tip: You should use a new operator. Try to search WHERE the solution is.

In [37]:
deadpool = {'$where': 'this.deadpooled_year > (this.founded_year + 3)'}
foundedyear = {'founded_year': {'$ne': None}}
filter = {'$and': [deadpool, foundedyear]}
projection = {'name': 1, 'deadpooled_year': 1, 'founded_year': 1, '_id': 0}
len(list(c.find(filter, projection)))

437

In [38]:
list(c.find(filter, projection))[:50]

[{'name': 'Babelgum', 'founded_year': 2007, 'deadpooled_year': 2013},
 {'name': 'Thoof', 'founded_year': 2006, 'deadpooled_year': 2013},
 {'name': 'Wesabe', 'founded_year': 2005, 'deadpooled_year': 2010},
 {'name': 'Stickam', 'founded_year': 2006, 'deadpooled_year': 2013},
 {'name': 'AllPeers', 'founded_year': 2004, 'deadpooled_year': 2008},
 {'name': 'EQO', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'AllofMP3', 'founded_year': 2000, 'deadpooled_year': 2007},
 {'name': 'SellABand', 'founded_year': 2006, 'deadpooled_year': 2010},
 {'name': 'Zlio', 'founded_year': 2005, 'deadpooled_year': 2011},
 {'name': 'Jaiku', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'Coghead', 'founded_year': 2003, 'deadpooled_year': 2009},
 {'name': 'Swivel', 'founded_year': 2005, 'deadpooled_year': 2010},
 {'name': 'Slide', 'founded_year': 2005, 'deadpooled_year': 2011},
 {'name': 'Sway', 'founded_year': 2004, 'deadpooled_year': 2012},
 {'name': 'coComment', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'Hotelicopter', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'Ujogo', 'founded_year': 2007, 'deadpooled_year': 2012},
 {'name': 'PeerMe', 'founded_year': 2004, 'deadpooled_year': 2009},
 {'name': 'Tangler', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'TalkPlus', 'founded_year': 2004, 'deadpooled_year': 2008},
 {'name': 'PermissionTV', 'founded_year': 2005, 'deadpooled_year': 2012},
 {'name': 'Nirvanix', 'founded_year': 2007, 'deadpooled_year': 2013},
 {'name': 'Millsberry', 'founded_year': 2004, 'deadpooled_year': 2011},
 {'name': 'Revver', 'founded_year': 2004, 'deadpooled_year': 2011},
 {'name': 'Sampa', 'founded_year': 2005, 'deadpooled_year': 2009},
 {'name': 'DanceJam', 'founded_year': 2007, 'deadpooled_year': 2011},
 {'name': 'Brightkite', 'founded_year': 2007, 'deadpooled_year': 2011},
 {'name': 'Zango', 'founded_year': 1999, 'deadpooled_year': 2009},
 {'name': 'BitPass', 'founded_year': 2002, 'deadpooled_year': 2012},
 {'name': 'SpiralFrog', 'founded_year': 2004, 'deadpooled_year': 2009},
 {'name': 'Multiply', 'founded_year': 2003, 'deadpooled_year': 2013},
 {'name': 'RampedMedia', 'founded_year': 2006, 'deadpooled_year': 2013},
 {'name': 'Nemedia', 'founded_year': 2002, 'deadpooled_year': 2013},
 {'name': 'Trutap', 'founded_year': 1989, 'deadpooled_year': 2009},
 {'name': 'ITema', 'founded_year': 2007, 'deadpooled_year': 2011},
 {'name': 'Orgoo', 'founded_year': 2005, 'deadpooled_year': 2013},
 {'name': 'RatePoint', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'MuseStorm', 'founded_year': 2005, 'deadpooled_year': 2010},
 {'name': 'Eons', 'founded_year': 2005, 'deadpooled_year': 2012},
 {'name': 'Cuil', 'founded_year': 2005, 'deadpooled_year': 2010},
 {'name': 'mEgo', 'founded_year': 2005, 'deadpooled_year': 2012},
 {'name': 'StoryBlender', 'founded_year': 2005, 'deadpooled_year': 2012},
 {'name': 'BroadClip', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'Goojet', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'Notemarks', 'founded_year': 2003, 'deadpooled_year': 2009},
 {'name': 'mPortico', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'Grouply', 'founded_year': 2006, 'deadpooled_year': 2012},
 {'name': 'PlanHQ', 'founded_year': 2007, 'deadpooled_year': 2013},
 {'name': 'Youlicit', 'founded_year': 2006, 'deadpooled_year': 2010},
 {'name': 'Mixaloo', 'founded_year': 2007, 'deadpooled_year': 2013}]