##### This Lab is a bit different: instead of filling a document, you will have to create one of your own! In this lab, you will have to create a Jupyter Notebook where you scrap everytime is executed the updated Billboard Hot 100 songs (URL) and return a dataframe with 100 rows (duh) and the following columns:

Song

Artist

Last Week Rank

Weeks On Chart

##### It will also be nice if the document presented is in a function. Even nicer if it is a .py file.

# Webscraping

In [1]:
from bs4 import BeautifulSoup
import requests ## HTTP REQUEST
import pandas as pd

In [29]:
url = 'https://www.billboard.com/charts/hot-100/'
requests.get(url)

In [28]:
response = requests.get(url).content
soup = BeautifulSoup(response, "html.parser")

## Getting the information

In [6]:
songs = soup.select("li h3", class_="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only")
songs[:5]

[<h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet" id="title-of-a-story">




 					Die With A Smile

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					A Bar Song (Tipsy)

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					Birds Of A Feather

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					Smile

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					APT.

 </h3>]

In [7]:
len(songs)

111

In [12]:
songlist = []

for i in songs[:100]:
    songlist.append(i.get_text().lstrip().rstrip())

songlist[:5]

['Die With A Smile',
 'A Bar Song (Tipsy)',
 'Birds Of A Feather',
 'Smile',
 'APT.']

In [13]:
artists = soup.select('div ul li ul li span', class_="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only")
artists[:5]

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">

 	Lady Gaga &amp; Bruno Mars
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	21
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>]

In [14]:
len(artists)

700

In [25]:
artists_list = []

for i in artists[::7]:
    artists_list.append(i.get_text().lstrip().rstrip())

artists_list[:5]

['Lady Gaga & Bruno Mars',
 'Shaboozey',
 'Billie Eilish',
 'Morgan Wallen',
 'ROSE & Bruno Mars']

In [16]:
lastweek = soup.select('li ul li span', class_="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max")
lastweek[:5]

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">

 	Lady Gaga &amp; Bruno Mars
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	21
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>]

In [17]:
len(lastweek)

700

In [26]:
list_lastweek = []

for i in lastweek[1::7]:
    list_lastweek.append(i.get_text().lstrip().rstrip())

list_lastweek[:5]

['1', '2', '3', '27', '5']

In [27]:
wks_on_chart = []

for i in lastweek[3::7]:
    wks_on_chart.append(i.get_text().lstrip().rstrip())

wks_on_chart[:5]

['21', '39', '34', '2', '12']

## Dataframe

In [20]:
billboard = pd.DataFrame({'song': songlist, 'artist': artists_list, 'last week rank': list_lastweek, 'weeks on chart': wks_on_chart})
billboard

,song,artist,last week rank,weeks on chart
0,Die With A Smile,Lady Gaga & Bruno Mars,1,21
1,A Bar Song (Tipsy),Shaboozey,2,39
2,Birds Of A Feather,Billie Eilish,3,34
3,Smile,Morgan Wallen,27,2
4,APT.,ROSE & Bruno Mars,5,12
...,...,...,...,...
95,Close To You,Gracie Abrams,69,21
96,Diet Pepsi,Addison Rae,73,15
97,Burning Down,Alex Warren,79,6
98,Free Promo,Lil Baby,-,1
99,Dos Dias,Tito Double P & Peso Pluma,68,18

## Function

In [21]:
def billboard100 (url):
    from bs4 import BeautifulSoup
    import requests ## HTTP REQUEST
    import pandas as pd
    
    link = "url"
    response = requests.get(url).content
    soup = BeautifulSoup(response, "html.parser")
    
    songs = soup.select("li h3", class_="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only")
    songlist = []
    for i in songs[:100]:
        songlist.append(i.get_text().lstrip().rstrip())
    
    artists = soup.select('div ul li ul li span', class_="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only")
    artists_list = []
    for i in artists[::7]:
        artists_list.append(i.get_text().lstrip().rstrip())

    lastweek = soup.select('li ul li span', class_="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max")
    list_lastweek = []
    for i in lastweek[1::7]:
        list_lastweek.append(i.get_text().lstrip().rstrip())
    wks_on_chart = []
    for i in lastweek[3::7]:
        wks_on_chart.append(i.get_text().lstrip().rstrip())
    
    billboard = pd.DataFrame({'song': songlist, 'artist': artists_list, 'last week rank': list_lastweek, 'weeks on chart': wks_on_chart})
    return billboard

In [22]:
url = "https://www.billboard.com/charts/hot-100/"
billboard100(url)

,song,artist,last week rank,weeks on chart
0,Die With A Smile,Lady Gaga & Bruno Mars,1,21
1,A Bar Song (Tipsy),Shaboozey,2,39
2,Birds Of A Feather,Billie Eilish,3,34
3,Smile,Morgan Wallen,27,2
4,APT.,ROSE & Bruno Mars,5,12
...,...,...,...,...
95,Close To You,Gracie Abrams,69,21
96,Diet Pepsi,Addison Rae,73,15
97,Burning Down,Alex Warren,79,6
98,Free Promo,Lil Baby,-,1
99,Dos Dias,Tito Double P & Peso Pluma,68,18

## .py file

In [23]:
from Billboard import *

In [24]:
billboardfunction(url)

,song,artist,last week rank,weeks on chart
0,Die With A Smile,Lady Gaga & Bruno Mars,1,21
1,A Bar Song (Tipsy),Shaboozey,2,39
2,Birds Of A Feather,Billie Eilish,3,34
3,Smile,Morgan Wallen,27,2
4,APT.,ROSE & Bruno Mars,5,12
...,...,...,...,...
95,Close To You,Gracie Abrams,69,21
96,Diet Pepsi,Addison Rae,73,15
97,Burning Down,Alex Warren,79,6
98,Free Promo,Lil Baby,-,1
99,Dos Dias,Tito Double P & Peso Pluma,68,18