##### This Lab is a bit different: instead of filling a document, you will have to create one of your own! In this lab, you will have to create a Jupyter Notebook where you scrap everytime is executed the updated Billboard Hot 100 songs (URL) and return a dataframe with 100 rows (duh) and the following columns:

Song

Artist

Last Week Rank

Weeks On Chart

##### It will also be nice if the document presented is in a function. Even nicer if it is a .py file.

In [1]:
from bs4 import BeautifulSoup
import requests ## HTTP REQUEST
import pandas as pd

In [2]:
url = 'https://www.billboard.com/charts/hot-100/'

In [3]:
requests.get(url)

In [4]:
response = requests.get(url).content

In [5]:
soup = BeautifulSoup(response, "html.parser")

In [6]:
songs = soup.select("li h3", class_="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only")
songs[:5]

[<h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet" id="title-of-a-story">




 					All I Want For Christmas Is You

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					Rockin' Around The Christmas Tree

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					Last Christmas

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					TV Off

 </h3>,
 <h3 class="c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only" id="title-of-a-story">




 					Jingle Bell Rock

 </h3>]

In [7]:
len(songs)

111

In [ ]:
songlist = []

for i in songs[:100]:
    songlist.append(i.get_text().lstrip().rstrip())

songlist([:5])

['All I Want For Christmas Is You',
 "Rockin' Around The Christmas Tree",
 'Last Christmas',
 'TV Off',
 'Jingle Bell Rock']

In [9]:
artists = soup.select('div ul li ul li span', class_="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only")
artists[:5]

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">

 	Mariah Carey
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	10
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	68
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	10
 </span>]

In [10]:
len(artists)

700

In [11]:
artists_list = []

for i in artists[::7]:
    artists_list.append(i.get_text().lstrip().rstrip())

artists_list

['Mariah Carey',
 'Brenda Lee',
 'Wham!',
 'Kendrick Lamar Featuring Lefty Gunplay',
 'Bobby Helms',
 'Kendrick Lamar & SZA',
 'Kendrick Lamar',
 'Shaboozey',
 'Lady Gaga & Bruno Mars',
 'Burl Ives',
 'Andy Williams',
 'Billie Eilish',
 'Dean Martin',
 'Sabrina Carpenter',
 'Teddy Swims',
 'Gracie Abrams',
 'ROSE & Bruno Mars',
 'Post Malone Featuring Morgan Wallen',
 'Ariana Grande',
 'Kelly Clarkson',
 'Sabrina Carpenter',
 'Nat "King" Cole',
 'The Ronettes',
 'Michael Buble',
 'Jose Feliciano',
 'Benson Boone',
 'The Weeknd & Playboi Carti',
 'Hozier',
 'Kendrick Lamar',
 'Morgan Wallen',
 'Perry Como And The Fontane Sisters With Mitchell Ayres And His Orchestra',
 'Kendrick Lamar Featuring Dody6',
 'Tyler, The Creator Featuring GloRilla, Sexyy Red & Lil Wayne',
 'Chappell Roan',
 'Kendrick Lamar',
 'Chuck Berry',
 'Frank Sinatra With The Orchestra & Chorus Of Gordon Jenkins',
 'Darlene Love',
 'GloRilla & Sexyy Red',
 'Bing Crosby With Ken Darby Singers & John Scott Trotter & His Orchestra',
 'Kendrick Lamar Featuring Wallie the Sensei, Siete7x & Roddy Ricch',
 'Myles Smith',
 'Nat King Cole',
 'Gene Autry',
 'Cynthia Erivo Featuring Ariana Grande',
 'Kendrick Lamar',
 'Jimin',
 'Kendrick Lamar Featuring AzChike',
 'Jelly Roll',
 'Sabrina Carpenter',
 'Gigi Perez',
 'Kendrick Lamar',
 'Ariana Grande',
 'Kendrick Lamar',
 'Koe Wetzel & Jessie Murph',
 'Juice WRLD',
 'Sabrina Carpenter',
 'Ella Langley Featuring Riley Green',
 'Kendrick Lamar & SZA',
 'Tyler, The Creator Featuring Lola Young',
 'The Marias',
 'Ariana Grande & Cynthia Erivo',
 'Oscar Maydon & Fuerza Regida',
 'Tucker Wetmore',
 'Juice WRLD',
 'Gracie Abrams',
 'Kendrick Lamar Featuring Hitta J3, YoungThreat & Peysoh',
 'Chappell Roan',
 'Stromae & Pomme',
 'Tate McRae',
 'Zach Top',
 'The Weeknd',
 'Rauw Alejandro & Bad Bunny',
 'Real Boston Richey',
 'Cody Johnson & Carrie Underwood',
 'Summer Walker',
 'Jelly Roll',
 'Juice WRLD & Nicki Minaj',
 'Tyler, The Creator Featuring Daniel Caesar',
 'Juice WRLD',
 'Chris Brown',
 'Lainey Wilson',
 'NLE Choppa',
 'Laufey',
 'Tito Double P & Peso Pluma',
 'Jonathan Bailey Featuring Ariana Grande, Ethan Slater, Marissa Bode & Cynthia Erivo',
 'Ariana Grande Featuring Andy Nyman, Courtney-Mae Briggs, Jeff Goldblum, Sharon D. Clarke & Jenna Boyd',
 'Don Toliver',
 'Lady Gaga',
 'Lola Young',
 'Juice WRLD',
 'Cynthia Erivo Featuring Michelle Yeoh',
 'Chris Stapleton',
 'Rod Wave',
 'Juice WRLD',
 'Sabrina Carpenter',
 'Zach Bryan',
 'Cynthia Erivo',
 'V & Park Hyo Shin',
 'Gracie Abrams']

In [12]:
lastweek = soup.select('li ul li span', class_="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max")
lastweek[:5]

[<span class="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet">

 	Mariah Carey
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	10
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	1
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	68
 </span>,
 <span class="c-label a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet">

 	10
 </span>]

In [16]:
len(lastweek)

700

In [17]:
list_lastweek = []

for i in lastweek[1::7]:
    list_lastweek.append(i.get_text().lstrip().rstrip())

list_lastweek

['1',
 '2',
 '3',
 '5',
 '4',
 '6',
 '7',
 '8',
 '9',
 '10',
 '17',
 '11',
 '12',
 '14',
 '13',
 '-',
 '26',
 '15',
 '16',
 '20',
 '18',
 '68',
 '-',
 '38',
 '22',
 '25',
 '19',
 '30',
 '21',
 '28',
 '24',
 '27',
 '31',
 '-',
 '46',
 '34',
 '23',
 '39',
 '37',
 '32',
 '-',
 '36',
 '40',
 '55',
 '45',
 '35',
 '-',
 '-',
 '41',
 '53',
 '29',
 '44',
 '-',
 '47',
 '52',
 '-',
 '43',
 '58',
 '56',
 '-',
 '64',
 '74',
 '57',
 '61',
 '63',
 '59',
 '54',
 '-',
 '-',
 '48',
 '-',
 '79',
 '67',
 '-',
 '60',
 '72',
 '70',
 '66',
 '71',
 '97',
 '73',
 '-',
 '77',
 '65',
 '83',
 '86',
 '82',
 '-',
 '80',
 '76',
 '75',
 '69',
 '81',
 '87',
 '91',
 '-',
 '-',
 '93',
 '89',
 '92']

In [18]:
wks_on_chart = []

for i in lastweek[3::7]:
    wks_on_chart.append(i.get_text().lstrip().rstrip())

wks_on_chart

['32',
 '14',
 '27',
 '67',
 '32',
 '5',
 '28',
 '13',
 '44',
 '5',
 '4',
 '33',
 '35',
 '8',
 '5',
 '66',
 '6',
 '24',
 '29',
 '28',
 '23',
 '8',
 '59',
 '40',
 '14',
 '27',
 '20',
 '13',
 '25',
 '30',
 '5',
 '16',
 '25',
 '1',
 '4',
 '24',
 '4',
 '27',
 '49',
 '29',
 '1',
 '22',
 '34',
 '10',
 '18',
 '22',
 '40',
 '40',
 '31',
 '24',
 '2',
 '23',
 '1',
 '18',
 '10',
 '1',
 '4',
 '9',
 '4',
 '1',
 '13',
 '8',
 '6',
 '4',
 '8',
 '12',
 '11',
 '1',
 '1',
 '4',
 '1',
 '6',
 '15',
 '7',
 '4',
 '3',
 '29',
 '11',
 '11',
 '2',
 '17',
 '1',
 '4',
 '5',
 '5',
 '15',
 '13',
 '1',
 '18',
 '18',
 '8',
 '20',
 '6',
 '16',
 '16',
 '1',
 '1',
 '3',
 '4',
 '6']

In [19]:
billboard = pd.DataFrame({'song': songlist, 'artist': artists_list, 'last week rank': list_lastweek, 'weeks on chart': wks_on_chart})
billboard

,song,artist,last week rank,weeks on chart
0,A Bar Song (Tipsy),Shaboozey,1,32
1,Die With A Smile,Lady Gaga & Bruno Mars,2,14
2,Birds Of A Feather,Billie Eilish,3,27
3,Lose Control,Teddy Swims,5,67
4,Espresso,Sabrina Carpenter,4,32
...,...,...,...,...
95,Dejame Entrar,Rauw Alejandro,-,1
96,Neon Moon,Brooks & Dunn With Morgan Wallen,-,1
97,Brokey,Latto,93,3
98,Balloon,"Tyler, The Creator Featuring Doechii",89,4
99,On One Tonight,Gunna,92,6

In [20]:
def billboard100 (url):
    from bs4 import BeautifulSoup
    import requests ## HTTP REQUEST
    import pandas as pd
    
    link = "url"
    response = requests.get(url).content
    soup = BeautifulSoup(response, "html.parser")
    
    songs = soup.select("li h3", class_="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only")
    songlist = []
    for i in songs[:100]:
        songlist.append(i.get_text().lstrip().rstrip())
    
    artists = soup.select('div ul li ul li span', class_="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only")
    artists_list = []
    for i in artists[::7]:
        artists_list.append(i.get_text().lstrip().rstrip())

    lastweek = soup.select('li ul li span', class_="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max")
    list_lastweek = []
    for i in lastweek[1::7]:
        list_lastweek.append(i.get_text().lstrip().rstrip())
    wks_on_chart = []
    for i in lastweek[3::7]:
        wks_on_chart.append(i.get_text().lstrip().rstrip())
    
    billboard = pd.DataFrame({'song': songlist, 'artist': artists_list, 'last week rank': list_lastweek, 'weeks on chart': wks_on_chart})
    return billboard

In [21]:
url = "https://www.billboard.com/charts/hot-100/"
billboard100(url)

,song,artist,last week rank,weeks on chart
0,A Bar Song (Tipsy),Shaboozey,1,32
1,Die With A Smile,Lady Gaga & Bruno Mars,2,14
2,Birds Of A Feather,Billie Eilish,3,27
3,Lose Control,Teddy Swims,5,67
4,Espresso,Sabrina Carpenter,4,32
...,...,...,...,...
95,Dejame Entrar,Rauw Alejandro,-,1
96,Neon Moon,Brooks & Dunn With Morgan Wallen,-,1
97,Brokey,Latto,93,3
98,Balloon,"Tyler, The Creator Featuring Doechii",89,4
99,On One Tonight,Gunna,92,6

In [22]:
from Webscraping_Lab import *

In [23]:
billboardfunction(url)

,song,artist,last week rank,weeks on chart
0,A Bar Song (Tipsy),Shaboozey,1,32
1,Die With A Smile,Lady Gaga & Bruno Mars,2,14
2,Birds Of A Feather,Billie Eilish,3,27
3,Lose Control,Teddy Swims,5,67
4,Espresso,Sabrina Carpenter,4,32
...,...,...,...,...
95,Dejame Entrar,Rauw Alejandro,-,1
96,Neon Moon,Brooks & Dunn With Morgan Wallen,-,1
97,Brokey,Latto,93,3
98,Balloon,"Tyler, The Creator Featuring Doechii",89,4
99,On One Tonight,Gunna,92,6