Repetir los análisis realizados en clase con los datos correspondientes a los años 2020, 2021 y 2022.

- Buscar los datos disponibles en la web: https://data.buenosaires.gob.ar/dataset/flujo-vehicular-por-unidades-de-peaje-ausa
- Explorar que las columnas sean iguales entre si
- Unir dataframes
- Graficar para detectar outliers
- Realizar análisis temporales de estacionalidad y comparar con los datos de 2017, 2018 y 2019
    - Horaria
    - Diaria
    - Semanal
    
 - Realizar gráficas de predicción con **prophet**

# Data Preparation

We will start by using the data [available here](https://data.buenosaires.gob.ar/dataset/flujo-vehicular-por-unidades-de-peaje-ausa)

We will download the data from 2020 to 2022

In [155]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import warnings
warnings.filterwarnings("ignore")

## 2022
No tenemos un solo .csv de todo el año, sino uno de cada mes, hay que unirlos

### Importing the .csv files

In [156]:
# primero creamos un df de cada .csv

df_2022_0102 = pd.read_csv('Data/2022/Transito Enero-Febrero 2022.csv', sep=';') # este .csv es un poco distinto del resto
df_2022_03 = pd.read_csv('Data/2022/Transito Marzo 2022.csv')
df_2022_04 = pd.read_csv('Data/2022/Transito Abril 2022.csv')
df_2022_05 = pd.read_csv('Data/2022/Transito Mayo 2022.csv')
df_2022_06 = pd.read_csv('Data/2022/Transito Junio 2022.csv')
df_2022_07 = pd.read_csv('Data/2022/Transito Julio 2022.csv')
df_2022_08 = pd.read_csv('Data/2022/Transito Agosto 2022.csv')
df_2022_09 = pd.read_csv('Data/2022/Transito Septiembre 2022.csv')
df_2022_10 = pd.read_csv('Data/2022/Transito Octubre 2022.csv', sep=';') # este .csv es un poco distinto del resto
df_2022_11 = pd.read_csv('Data/2022/Transito Noviembre 2022.csv', sep=';') # este .csv es un poco distinto del resto
df_2022_12 = pd.read_csv('Data/2022/Transito Diciembre 2022.csv', sep=';') # este .csv es un poco distinto del resto

Después de hacer el ``head`` de cada df vi que algunos se habían cargado mal porque no estaban separados por ``,`` sino por ``;``

Así que en la celda anterior ya he especificado el separador

Vamos a analizar si tienen las mismas columnas para poder hacer el concat

In [157]:
df_2022_0102.head()

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,2022-01-01,Auto,0,ALB,Mercado Pago,Provincia,Mercado Pago,8
1,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Centro,Mercado Pago,4
2,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2
3,2022-01-01,Auto,0,ALB,Tag - PosPago,Provincia,Tag,65
4,2022-01-01,Auto,0,ALB,Tag - PosPago OCR,Centro,Tag,32

In [158]:
df_2022_03.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/3/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,5.0
1,1/3/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,7.0
2,1/3/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2.0
3,1/3/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,31.0
4,1/3/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,90.0

In [159]:
df_2022_04.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/4/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,7.0
1,1/4/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,13.0
2,1/4/2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,2.0
3,1/4/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,6.0
4,1/4/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,52.0

In [160]:
df_2022_05.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/5/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,5.0
1,1/5/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,5.0
2,1/5/2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,1.0
3,1/5/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,25.0
4,1/5/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,32.0

In [161]:
df_2022_06.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/6/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,3.0
1,1/6/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,5.0
2,1/6/2022,0,Auto,ALB,Tag - Exento,Provincia,Tag,1.0
3,1/6/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,39.0
4,1/6/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,46.0

In [162]:
df_2022_07.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1 de julio de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,12.0
1,1 de julio de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,24.0
2,1 de julio de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,2.0
3,1 de julio de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2.0
4,1 de julio de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,76.0

In [163]:
df_2022_08.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/8/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,4.0
1,1/8/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,5.0
2,1/8/2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,2.0
3,1/8/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,1.0
4,1/8/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,27.0

In [164]:
df_2022_09.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1.0
1,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,9.0
2,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,8.0
3,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,7.0
4,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,44.0

In [165]:
df_2022_10.head()

,"Mes, Día, Año de Fecha Operativa",Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,Unnamed: 8,Unnamed: 9
0,1/10/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,24.0,NaN,NaN
1,1/10/2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,10.0,NaN,NaN
2,1/10/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,1.0,NaN,NaN
3,1/10/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,12.0,NaN,NaN
4,1/10/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,131.0,NaN,NaN

In [166]:
df_2022_11.head()

,"Mes, Día, Año de Fecha Operativa",Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,Unnamed: 8,Unnamed: 9
0,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,16.0,NaN,NaN
1,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,3.0,NaN,NaN
2,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,3.0,NaN,NaN
3,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,47.0,NaN,NaN
4,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,15.0,NaN,NaN

In [167]:
df_2022_12.head()

,"Mes, Día, Año de Fecha Operativa",Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,Unnamed: 8,Unnamed: 9
0,1/12/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,11.0,NaN,NaN
1,1/12/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,8.0,NaN,NaN
2,1/12/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,4.0,NaN,NaN
3,1/12/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,75.0,NaN,NaN
4,1/12/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,74.0,NaN,NaN

Algunos son un poco distintos, vamos a limpiarlos

### **Limpiar datasets:** cambiar nombre de columnas, orden de columnas, drop columns, cambiar formato de fecha

In [168]:
df_2022_10.rename(columns={'Mes, Día, Año de Fecha Operativa':'Año de Fecha Operativa'}, inplace=True)
df_2022_10.drop(columns=['Unnamed: 8','Unnamed: 9'], inplace=True)
df_2022_10.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/10/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,24.0
1,1/10/2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,10.0
2,1/10/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,1.0
3,1/10/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,12.0
4,1/10/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,131.0

In [169]:
df_2022_11.rename(columns={'Mes, Día, Año de Fecha Operativa':'Año de Fecha Operativa'}, inplace=True)
df_2022_11.drop(columns=['Unnamed: 8','Unnamed: 9'], inplace=True)
df_2022_11.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,16.0
1,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,3.0
2,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,3.0
3,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,47.0
4,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,15.0

In [170]:
df_2022_12.rename(columns={'Mes, Día, Año de Fecha Operativa':'Año de Fecha Operativa'}, inplace=True)
df_2022_12.drop(columns=['Unnamed: 8','Unnamed: 9'], inplace=True)
df_2022_12.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1/12/2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,11.0
1,1/12/2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,8.0
2,1/12/2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,4.0
3,1/12/2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,75.0
4,1/12/2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,74.0

In [171]:
df_2022_09.head()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1.0
1,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,9.0
2,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,8.0
3,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,7.0
4,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,44.0

#### **Cambiar formato de fecha**

##### Julio 2022

In [172]:
df_2022_07.sample()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
178385,21 de julio de 2022,17,Auto con trailer,AVE,Tag - PosPago,Centro,Tag,3.0

In [173]:
df_2022_07['fecha'] = df_2022_07['Año de Fecha Operativa'].str.split(' ')
df_2022_07.sample()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
101505,12 de julio de 2022,23,Pesados 2 Ejes,ALB,Tag - Exento,Provincia,Tag,1.0,"[12, de, julio, de, 2022]"

In [174]:
df_2022_07['fecha'][0]

['1', 'de', 'julio', 'de', '2022']

In [175]:
df_2022_07['fecha'][30000][0]

'4'

In [176]:
df_2022_07

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de julio de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,12.0,"[1, de, julio, de, 2022]"
1,1 de julio de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,24.0,"[1, de, julio, de, 2022]"
2,1 de julio de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,2.0,"[1, de, julio, de, 2022]"
3,1 de julio de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2.0,"[1, de, julio, de, 2022]"
4,1 de julio de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,76.0,"[1, de, julio, de, 2022]"
...,...,...,...,...,...,...,...,...,...
264205,31 de julio de 2022,23,Pesados 6 Ejes,PB2,Tag - PosPago,Centro,Tag,1,"[31, de, julio, de, 2022]"
264206,31 de julio de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago,Centro,Tag,10,"[31, de, julio, de, 2022]"
264207,31 de julio de 2022,23,Pesados 6 Ejes,PB4,Violación - Normal,Centro,Violación,1,"[31, de, julio, de, 2022]"
264208,31 de julio de 2022,23,Pesados 6 Ejes,SAL,Tag - PosPago,Provincia,Tag,1,"[31, de, julio, de, 2022]"
264209,Total general,Total,Total,Total,Total,Total,Total,11.591.560,"[Total, general]"

In [177]:
# eliminamos la fila del Total
df_2022_07.drop([264209], inplace=True)
df_2022_07

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de julio de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,12.0,"[1, de, julio, de, 2022]"
1,1 de julio de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,24.0,"[1, de, julio, de, 2022]"
2,1 de julio de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,2.0,"[1, de, julio, de, 2022]"
3,1 de julio de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2.0,"[1, de, julio, de, 2022]"
4,1 de julio de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,76.0,"[1, de, julio, de, 2022]"
...,...,...,...,...,...,...,...,...,...
264204,31 de julio de 2022,23,Pesados 6 Ejes,PB1,Violación - Normal,Provincia,Violación,1,"[31, de, julio, de, 2022]"
264205,31 de julio de 2022,23,Pesados 6 Ejes,PB2,Tag - PosPago,Centro,Tag,1,"[31, de, julio, de, 2022]"
264206,31 de julio de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago,Centro,Tag,10,"[31, de, julio, de, 2022]"
264207,31 de julio de 2022,23,Pesados 6 Ejes,PB4,Violación - Normal,Centro,Violación,1,"[31, de, julio, de, 2022]"
264208,31 de julio de 2022,23,Pesados 6 Ejes,SAL,Tag - PosPago,Provincia,Tag,1,"[31, de, julio, de, 2022]"

In [178]:
days = []
months = []
years = []

for i in df_2022_07['fecha']:
    days.append([i][0][0])
    months.append([i][0][2])
    years.append([i][0][4])

In [179]:
df_2022_07['day'] = pd.Series(days)
df_2022_07['month'] = pd.Series(months)
df_2022_07['year'] = pd.Series(years)

In [180]:
df_2022_07.sample(10)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha,day,month,year
84123,11 de julio de 2022,4,N/D,SAR,Violación - Normal,Provincia,Violación,3.0,"[11, de, julio, de, 2022]",11,julio,2022
171106,20 de julio de 2022,21,Pesados 6 Ejes,PB4,Violación - Normal,Centro,Violación,1.0,"[20, de, julio, de, 2022]",20,julio,2022
62803,8 de julio de 2022,9,Auto,AVE,Mercado Pago OCR,Centro,Mercado Pago,89.0,"[8, de, julio, de, 2022]",8,julio,2022
65586,8 de julio de 2022,14,Pesados 5 Ejes,AVE,Tag - PosPago OCR,Provincia,Tag,5.0,"[8, de, julio, de, 2022]",8,julio,2022
66251,8 de julio de 2022,16,Auto con trailer,ALB,Tag - PosPago OCR,Provincia,Tag,1.0,"[8, de, julio, de, 2022]",8,julio,2022
92268,11 de julio de 2022,23,Pesados 3 Ejes,ILP,Tag - PosPago,Provincia,Tag,8.0,"[11, de, julio, de, 2022]",11,julio,2022
9231,2 de julio de 2022,0,Pesados 2 Ejes,AVE,Tag - PosPago OCR,Centro,Tag,2.0,"[2, de, julio, de, 2022]",2,julio,2022
223174,27 de julio de 2022,4,Pesados 2 Ejes,ILP,Violación - Normal,Centro,Violación,1.0,"[27, de, julio, de, 2022]",27,julio,2022
66183,8 de julio de 2022,16,Auto,DEL,Metrobus no hab. OCR pospago,Provincia,Tag,10.0,"[8, de, julio, de, 2022]",8,julio,2022
104556,13 de julio de 2022,9,N/D,AVE,Violación - Normal,Centro,Violación,67.0,"[13, de, julio, de, 2022]",13,julio,2022

In [181]:
meses = {'enero': 1
         , 'febrero': 2
         , 'marzo': 3
         , 'abril': 4
         , 'mayo': 5
         , 'junio': 6
         , 'julio': 7
         , 'agosto': 8
         , 'septiembre': 9
         , 'octubre': 10
         , 'noviembre': 11
         , 'diciembre': 12
         }

In [182]:
df_2022_07['month'] = df_2022_07['month'].replace(meses)

In [183]:
# Pasamos la columna fecha a formato datetime

df_2022_07['Año de Fecha Operativa'] = pd.to_datetime(df_2022_07[['year', 'day', 'month']])
df_2022_07.drop(columns=['year', 'day', 'month', 'fecha'], inplace = True)
df_2022_07.sample(5)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
3253,2022-07-01,10,N/D,ILL,Violación - Rebote,Centro,Violación,1.0
56429,2022-07-07,15,Auto,DEC,T.Magnética Disc.,Centro,Tarjeta Magnética,3.0
217262,2022-07-26,12,Auto,AVE,Exento - Otros motivos,Provincia,Exento,3.0
93649,2022-07-12,5,Pesados 5 Ejes,PB4,Tag - PosPago,Centro,Tag,85.0
182834,2022-07-22,7,Auto con trailer,ILL,Tag - PosPago,Provincia,Tag,1.0

##### Septiembre 2022

In [184]:
df_2022_09.sample()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
130520,15 de septiembre de 2022,22,Auto,ILL,Paso en Infracción con Multa,Provincia,Rec.Deuda,7.0

In [185]:
df_2022_09['fecha'] = df_2022_09['Año de Fecha Operativa'].str.split(' ')
df_2022_09.sample()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
117203,14 de septiembre de 2022,13,Moto,AVE,Efectivo,Provincia,Efectivo,40.0,"[14, de, septiembre, de, 2022]"

In [186]:
df_2022_09

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1.0,"[1, de, septiembre, de, 2022]"
1,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,9.0,"[1, de, septiembre, de, 2022]"
2,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,8.0,"[1, de, septiembre, de, 2022]"
3,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,7.0,"[1, de, septiembre, de, 2022]"
4,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,44.0,"[1, de, septiembre, de, 2022]"
...,...,...,...,...,...,...,...,...,...
266897,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266899,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Tenemos que eliminar también los NaN

In [187]:
df_2022_09['Observacion'].isna().value_counts()

Observacion
False    264252
True       2650
Name: count, dtype: int64

In [188]:
df_2022_09[df_2022_09['Observacion'].isna()].sample(10)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
264991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265174,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Los valores de todas las columnas son nulls, elimino estas filas

In [189]:
df_2022_09.dropna(inplace=True)
df_2022_09['Observacion'].isna().value_counts()

Observacion
False    264252
Name: count, dtype: int64

In [190]:
df_2022_09

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1.0,"[1, de, septiembre, de, 2022]"
1,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,9.0,"[1, de, septiembre, de, 2022]"
2,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,8.0,"[1, de, septiembre, de, 2022]"
3,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,7.0,"[1, de, septiembre, de, 2022]"
4,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,44.0,"[1, de, septiembre, de, 2022]"
...,...,...,...,...,...,...,...,...,...
264247,30 de septiembre de 2022,23,Pesados 6 Ejes,PB2,Tag - PosPago OCR,Centro,Tag,2,"[30, de, septiembre, de, 2022]"
264248,30 de septiembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago,Centro,Tag,13,"[30, de, septiembre, de, 2022]"
264249,30 de septiembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago OCR,Centro,Tag,1,"[30, de, septiembre, de, 2022]"
264250,30 de septiembre de 2022,23,Pesados 6 Ejes,RET,Tag - PosPago,Provincia,Tag,1,"[30, de, septiembre, de, 2022]"
264251,Total general,Total,Total,Total,Total,Total,Total,11.869.535,"[Total, general]"

In [191]:
# eliminamos la fila del Total
df_2022_09.drop([264251], inplace=True)
df_2022_09

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1.0,"[1, de, septiembre, de, 2022]"
1,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,9.0,"[1, de, septiembre, de, 2022]"
2,1 de septiembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,8.0,"[1, de, septiembre, de, 2022]"
3,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Centro,Tag,7.0,"[1, de, septiembre, de, 2022]"
4,1 de septiembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,44.0,"[1, de, septiembre, de, 2022]"
...,...,...,...,...,...,...,...,...,...
264246,30 de septiembre de 2022,23,Pesados 6 Ejes,PB2,Tag - PosPago,Centro,Tag,3,"[30, de, septiembre, de, 2022]"
264247,30 de septiembre de 2022,23,Pesados 6 Ejes,PB2,Tag - PosPago OCR,Centro,Tag,2,"[30, de, septiembre, de, 2022]"
264248,30 de septiembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago,Centro,Tag,13,"[30, de, septiembre, de, 2022]"
264249,30 de septiembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago OCR,Centro,Tag,1,"[30, de, septiembre, de, 2022]"
264250,30 de septiembre de 2022,23,Pesados 6 Ejes,RET,Tag - PosPago,Provincia,Tag,1,"[30, de, septiembre, de, 2022]"

In [192]:
days = []
months = []
years = []

for i in df_2022_09['fecha']:
    days.append([i][0][0])
    months.append([i][0][2])
    years.append([i][0][4])

In [193]:
df_2022_09['day'] = pd.Series(days)
df_2022_09['month'] = pd.Series(months)
df_2022_09['year'] = pd.Series(years)

In [194]:
df_2022_09.sample(10)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha,day,month,year
144747,17 de septiembre de 2022,13,Pesados 2 Ejes,AVE,Efectivo,Centro,Efectivo,18.0,"[17, de, septiembre, de, 2022]",17,septiembre,2022
133690,16 de septiembre de 2022,8,N/D,ILP,Violación - Normal,Provincia,Violación,77.0,"[16, de, septiembre, de, 2022]",16,septiembre,2022
129909,15 de septiembre de 2022,20,Pesados 2 Ejes,ILP,Mercado Pago OCR,Provincia,Mercado Pago,2.0,"[15, de, septiembre, de, 2022]",15,septiembre,2022
210739,25 de septiembre de 2022,2,Pesados 4 Ejes,ILP,Tag - PosPago,Provincia,Tag,2.0,"[25, de, septiembre, de, 2022]",25,septiembre,2022
121421,14 de septiembre de 2022,23,Auto,DEL,Exento - Reglamento,Provincia,Exento,4.0,"[14, de, septiembre, de, 2022]",14,septiembre,2022
39406,5 de septiembre de 2022,18,Auto,DEL,MercadoPago Instalado en via,Provincia,Mercado Pago,1.0,"[5, de, septiembre, de, 2022]",5,septiembre,2022
127770,15 de septiembre de 2022,15,Pesados 2 Ejes,SAL,Tag - PosPago OCR,Provincia,Tag,1.0,"[15, de, septiembre, de, 2022]",15,septiembre,2022
107694,13 de septiembre de 2022,13,Auto,AVE,Efectivo x4,Centro,Efectivo,3.0,"[13, de, septiembre, de, 2022]",13,septiembre,2022
226182,26 de septiembre de 2022,23,Auto,DEC,Mercado Pago,Centro,Mercado Pago,47.0,"[26, de, septiembre, de, 2022]",26,septiembre,2022
26743,4 de septiembre de 2022,5,Pesados 5 Ejes,RET,Tag - PosPago,Provincia,Tag,1.0,"[4, de, septiembre, de, 2022]",4,septiembre,2022

In [195]:
df_2022_09['month'] = df_2022_09['month'].replace(meses)

In [196]:
# Pasamos la columna fecha a formato datetime

df_2022_09['Año de Fecha Operativa'] = pd.to_datetime(df_2022_09[['year', 'day', 'month']])
df_2022_09.drop(columns=['year', 'day', 'month', 'fecha'], inplace = True)
df_2022_09.sample(5)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
24895,2022-09-03,22,Pesados 3 Ejes,ILP,Tag - PosPago,Centro,Tag,2.0
222889,2022-09-26,15,Auto,AVE,Tag - PosPago,Provincia,Tag,3.021
61195,2022-09-08,4,N/D,SAL,Violación - Normal,Provincia,Violación,10.0
201457,2022-09-23,21,N/D,ILL,Violación - Normal,Provincia,Violación,103.0
142636,2022-09-17,8,Auto,SAL,Tag - PosPago OCR,Provincia,Tag,18.0

##### Noviembre 2022

In [197]:
df_2022_11.sample()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
40840,5 de noviembre de 2022,10,Auto,PB1,Tag - PosPago OCR,Provincia,Tag,5.0

In [198]:
df_2022_11['fecha'] = df_2022_11['Año de Fecha Operativa'].str.split(' ')
df_2022_11.sample()

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
221158,25 de noviembre de 2022,13,Auto,AVE,Mercado Pago,Centro,Mercado Pago,348.0,"[25, de, noviembre, de, 2022]"

In [199]:
df_2022_11

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,16.0,"[1, de, noviembre, de, 2022]"
1,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,3.0,"[1, de, noviembre, de, 2022]"
2,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,3.0,"[1, de, noviembre, de, 2022]"
3,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,47.0,"[1, de, noviembre, de, 2022]"
4,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,15.0,"[1, de, noviembre, de, 2022]"
...,...,...,...,...,...,...,...,...,...
269346,30 de noviembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago,Centro,Tag,18,"[30, de, noviembre, de, 2022]"
269347,30 de noviembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago OCR,Centro,Tag,5,"[30, de, noviembre, de, 2022]"
269348,30 de noviembre de 2022,23,Pesados 6 Ejes,PB4,Violación - Normal,Centro,Violación,1,"[30, de, noviembre, de, 2022]"
269349,30 de noviembre de 2022,23,Pesados 6 Ejes,RET,Tag - PosPago,Provincia,Tag,2,"[30, de, noviembre, de, 2022]"
269350,Total general,Total,Total,Total,Total,Total,Total,11.896.381,"[Total, general]"

In [200]:
# eliminamos la fila del Total
df_2022_11.drop([269350], inplace=True)
df_2022_11

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha
0,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,16.0,"[1, de, noviembre, de, 2022]"
1,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,3.0,"[1, de, noviembre, de, 2022]"
2,1 de noviembre de 2022,0,Auto,ALB,Mercado Pago OCR,Provincia,Mercado Pago,3.0,"[1, de, noviembre, de, 2022]"
3,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago,Provincia,Tag,47.0,"[1, de, noviembre, de, 2022]"
4,1 de noviembre de 2022,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,15.0,"[1, de, noviembre, de, 2022]"
...,...,...,...,...,...,...,...,...,...
269345,30 de noviembre de 2022,23,Pesados 6 Ejes,PB2,Violación - Normal,Centro,Violación,2,"[30, de, noviembre, de, 2022]"
269346,30 de noviembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago,Centro,Tag,18,"[30, de, noviembre, de, 2022]"
269347,30 de noviembre de 2022,23,Pesados 6 Ejes,PB4,Tag - PosPago OCR,Centro,Tag,5,"[30, de, noviembre, de, 2022]"
269348,30 de noviembre de 2022,23,Pesados 6 Ejes,PB4,Violación - Normal,Centro,Violación,1,"[30, de, noviembre, de, 2022]"
269349,30 de noviembre de 2022,23,Pesados 6 Ejes,RET,Tag - PosPago,Provincia,Tag,2,"[30, de, noviembre, de, 2022]"

In [201]:
days = []
months = []
years = []

for i in df_2022_11['fecha']:
    days.append([i][0][0])
    months.append([i][0][2])
    years.append([i][0][4])

In [202]:
df_2022_11['day'] = pd.Series(days)
df_2022_11['month'] = pd.Series(months)
df_2022_11['year'] = pd.Series(years)

In [203]:
df_2022_11.sample(10)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos,fecha,day,month,year
20911,3 de noviembre de 2022,6,Pesados 2 Ejes,ILL,Tag - PosPago,Centro,Tag,70.0,"[3, de, noviembre, de, 2022]",3,noviembre,2022
174203,20 de noviembre de 2022,5,Auto,DEC,MercadoPago Instalado en via,Centro,Mercado Pago,1.0,"[20, de, noviembre, de, 2022]",20,noviembre,2022
34566,4 de noviembre de 2022,15,Pesados 5 Ejes,ILP,Mercado Pago,Centro,Mercado Pago,1.0,"[4, de, noviembre, de, 2022]",4,noviembre,2022
142694,16 de noviembre de 2022,17,Pesados 5 Ejes,DEL,Paso en infracción con Multa LPR,Provincia,Rec.Deuda,3.0,"[16, de, noviembre, de, 2022]",16,noviembre,2022
49307,6 de noviembre de 2022,12,Pesados 2 Ejes,DEC,Exento - Reglamento,Centro,Exento,4.0,"[6, de, noviembre, de, 2022]",6,noviembre,2022
81157,9 de noviembre de 2022,22,Pesados 2 Ejes,PB1,Mercado Pago,Provincia,Mercado Pago,1.0,"[9, de, noviembre, de, 2022]",9,noviembre,2022
16641,2 de noviembre de 2022,17,Pesados 5 Ejes,PB3,Tag - PosPago OCR,Provincia,Tag,2.0,"[2, de, noviembre, de, 2022]",2,noviembre,2022
210807,24 de noviembre de 2022,11,Pesados 4 Ejes,SAL,Tag - PosPago,Provincia,Tag,2.0,"[24, de, noviembre, de, 2022]",24,noviembre,2022
18865,2 de noviembre de 2022,23,Pesados 2 Ejes,PB1,Violación - Normal,Provincia,Violación,2.0,"[2, de, noviembre, de, 2022]",2,noviembre,2022
175349,20 de noviembre de 2022,9,Auto,DEC,Paso en Infracción,Centro,Rec.Deuda,1.0,"[20, de, noviembre, de, 2022]",20,noviembre,2022

In [204]:
df_2022_11['month'] = df_2022_11['month'].replace(meses)

In [205]:
# Pasamos la columna fecha a formato datetime

df_2022_11['Año de Fecha Operativa'] = pd.to_datetime(df_2022_11[['year', 'day', 'month']])
df_2022_11.drop(columns=['year', 'day', 'month', 'fecha'], inplace = True)
df_2022_11.sample(5)

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
93547,2022-11-11,7,N/D,SAL,Violación - Normal,Provincia,Violación,54.0
186790,2022-11-21,21,Pesados 6 Ejes,DEL,Tag - PosPago OCR,Provincia,Tag,2.0
63142,2022-11-08,2,Auto,ILL,Tag - PosPago OCR,Provincia,Tag,9.0
215632,2022-11-24,22,Pesados 2 Ejes,ALB,Tag - PosPago OCR,Provincia,Tag,2.0
155265,2022-11-18,1,Auto,ILP,Violación - Normal,Provincia,Violación,2.0

### Concat 2022

In [206]:
# hacemos el concat de todos los df de 2022

data_2022 = pd.concat([df_2022_0102, df_2022_03, df_2022_04, df_2022_05, df_2022_06, df_2022_07, df_2022_08, df_2022_09, df_2022_10, df_2022_11, df_2022_12])
data_2022.sample(10)

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
377573,2022-02-13,23,Pesados 2 Ejes,DEL,Efectivo,Provincia,Efectivo,3
278183,2022-02-14,13,Auto,DEC,Paso en infracción con Multa LPR,Centro,Rec.Deuda,24
65358,8/3/2022,Auto,20,ILL,Paso en Infracción,Centro,Rec.Deuda,2.0
241919,29/8/2022,Pesados 2 Ejes,8,ILP,Mercado Pago,Centro,Mercado Pago,10.0
62066,7/12/2022,Auto,22,ALB,Mercado Pago OCR,Provincia,Mercado Pago,7.0
55640,2022-09-07 00:00:00,Auto con trailer,13,PB1,Tag - PosPago,Provincia,Tag,1.0
206392,2022-09-24 00:00:00,Auto,13,ALB,Mercado Pago OCR,Provincia,Mercado Pago,8.0
92315,12/10/2022,Auto,5,PB1,Mercado Pago,Provincia,Mercado Pago,4.0
153409,2022-07-19 00:00:00,Auto,1,ILP,Tag - PosPago OCR,Centro,Tag,1.0
129711,16/3/2022,Auto,9,ILP,Tag - PosPago,Provincia,Tag,59.0

In [207]:
data_2022.head()

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,2022-01-01,Auto,0,ALB,Mercado Pago,Provincia,Mercado Pago,8
1,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Centro,Mercado Pago,4
2,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2
3,2022-01-01,Auto,0,ALB,Tag - PosPago,Provincia,Tag,65
4,2022-01-01,Auto,0,ALB,Tag - PosPago OCR,Centro,Tag,32

In [208]:
# exportamos el 2022 a un .csv todo junto

# data_2022.to_csv('Data/flujo-vehicular-2022.csv')

## 2020 y 2021

### **Analysis**

In [209]:
data_2020 = pd.read_csv('Data/flujo-vehicular-2020.csv')
data_2021 = pd.read_csv('Data/flujo-vehicular-2021.csv')

In [210]:
data_2020.shape

(2533743, 13)

In [211]:
data_2021.shape

(3029367, 10)

In [212]:
data_2020.sample(1)

,periodo,fecha,mes,dia,dia_fecha,hora_inicio,hora_fin,estacion,tipo_vehiculo,forma_pago,observacion,sentido,cantidad_pasos
1645112,2020.0,2020-09-08,septiembre,Martes,8.0,20.0,21.0,AVELLANEDA,Auto,Efectivo,Efectivo,Provincia,341.0

In [213]:
data_2021.sample(1)

,Año de Fecha Operativa,Cat Cobrada,Día de Fecha Operativa,Hora HH,ID Peaje,Mes de Fecha Operativa,Observacion,Sentido,Tipo Cobro,Pasos
120512,2021,Pesados 2 Ejes,11,13,ILL,abril,Efectivo,Centro,Efectivo,1

In [214]:
data_2022.sample(1)

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
10960,2/5/2022,Auto,12,SAL,Tag - PosPago OCR,Provincia,Tag,18.0

Los 3 datasets son bastante distintos. Eliminemos y cambiemos de nombre algunas columnas

In [215]:
data_2022['ID Peaje'].unique()

array(['ALB', 'AVE', 'DEC', 'DEL', 'ILL', 'ILP', 'PB1', 'PB2', 'PB4',
       'RET', 'SAL', 'SAR', 'PB3', 'Total', nan], dtype=object)

Illia = ``ILL``

In [216]:
data_2022['Observacion'].unique()

array(['Mercado Pago', 'Mercado Pago OCR', 'Tag - PosPago',
       'Tag - PosPago OCR', 'Efectivo', 'Violación - Normal',
       'Tag - Exento', 'Obs CPP', 'Exento - Demora en cobro',
       'Exento - Reglamento', 'Paso en Infracción',
       'Paso en Infracción con Multa', 'Paso en infracción con Multa LPR',
       'T.Magnética Disc.', 'Exento - Otros motivos', 'Tag - PrePago OCR',
       'Metrobus no hab. OCR pospago', 'Metrobus no hab. TAG pospago',
       'Violación - Repetitiva', 'Metrobus no hab. TAG Mercado Pago',
       'Violación - Rebote', 'Paso a facturar - (colectivo)',
       'Metrobus no hab. OCR Mercado Pago', 'Tag - PrePago',
       'Violación - Via Liberada', 'Violación - Vía Cerrada',
       'Paso en Infraccion Multa Agente', 'Efectivo x4', 'Total', nan,
       'MercadoPago Instalado en via'], dtype=object)

In [217]:
data_2022['Tipo Cobro'].unique()

array(['Mercado Pago', 'Tag', 'Efectivo', 'Violación', 'CPP', 'Exento',
       'Rec.Deuda', 'Tarjeta Magnética', 'Total', nan], dtype=object)

Podemos eliminar la columna ``Observacion``

In [218]:
data_2022['Cat Cobrada'].unique()

array(['Auto', 'Auto con trailer', 'Moto', 'N/D', 'Pago doble Moto',
       'Pesados 2 Ejes', 'Pesados 3 Ejes', 'Pesados 4 Ejes',
       'Pesados 5 Ejes', 'Pesados 6 Ejes', '0', '1', '2', '3', '4', '5',
       '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', '22', '23', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
       11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 0, 'Total',
       nan], dtype=object)

In [219]:
data_2021['Cat Cobrada'].unique()

array(['Auto', 'Auto con trailer', 'Moto', 'N/D', 'Pago doble Moto',
       'Pesados 2 Ejes', 'Pesados 3 Ejes', 'Pesados 4 Ejes',
       'Pesados 5 Ejes', 'Pesados 6 Ejes', 'Total',
       'Pago Doble Auto con trailer / Pesado 2 Ejes', 'Pago Doble Auto'],
      dtype=object)

In [220]:
data_2020['tipo_vehiculo'].unique()

array(['Auto', 'Auto con trailer', 'Moto', 'N/D', 'Pago Doble Auto',
       'Pago Doble Auto con trailer / Pesado 2 Ejes', 'Pago doble Moto',
       'Pesados 2 Ejes', 'Pesados 3 Ejes', 'Pesados 4 Ejes',
       'Pesados 5 Ejes', 'Pesados 6 Ejes'], dtype=object)

Podemos eliminar la columna ``tipo_vehiculo``

We can summarize the available information of these datasets as:

**periodo**: year. Solo en 2020, no es necesario **(DROP)**

**fecha**: date

**mes**: month. Solo en 2020 y 2021 y ya tenemos esta información en ``fecha`` **(DROP)**

**dia**: week day

**dia_fecha**: Solo en 2020 y 2021 y ya tenemos esta información en ``fecha`` **(DROP)**

**hora_inicio** timestamp of the counting start (Vamos a usar esta para tomar la hora)

**hora_fin** timestamp of the counting end **(DROP)**

**estacion**: estaciones de peaje

**tipo_vehiculo / Cat Cobrada**: información no muy relevante **(DROP)**

**forma_pago**: Hay varias y varian entre los años.

**observacion**: similar a ``forma_pago``, pero con más detalle que no necesitamos **(DROP)**

**sentido**: Centro o Provincia

**cantidad_pasos**: Cantidad de vehiculos

### **Df Cleaning**

#### **2020**

In [221]:
# eliminamos columnas

data_2020.drop(columns=['periodo', 'mes', 'dia_fecha', 'hora_fin', 'tipo_vehiculo', 'observacion'], inplace=True)

In [222]:
data_2020['hora_inicio'] = data_2020['hora_inicio'].astype(int)
data_2020['cantidad_pasos'] = data_2020['cantidad_pasos'].astype(int)

In [223]:
data_2020.sample(5)

,fecha,dia,hora_inicio,estacion,forma_pago,sentido,cantidad_pasos
402765,2020-02-20 00:00:00,Jueves,6,DELLEPIANE LINIERSLEPIANE CENTRO,Violación,Centro,1
813976,2020-04-29,Miércoles,19,DELLEPIANE LINIERS,Tag,Provincia,10
402381,2020-02-20 00:00:00,Jueves,2,ALBERDI,Efectivo,Centro,12
1642093,2020-09-07,Lunes,13,PB4,Tag,Centro,2
285947,2020-02-05 00:00:00,Miércoles,9,ILLIA,Tag,Provincia,1

Hay fechas con horas y fechas sin horas

In [224]:
# Pasamos la columna fecha a formato datetime
data_2020['fecha'] = pd.to_datetime(data_2020.fecha, format='ISO8601')
data_2020.sample(5)

,fecha,dia,hora_inicio,estacion,forma_pago,sentido,cantidad_pasos
2158532,2020-11-19,Jueves,7,AVELLANEDA,Violación,Provincia,1
66993,2020-01-09,Jueves,0,DELLEPIANE LINIERS,Tag,Provincia,2
2041338,2020-10-15,Jueves,15,PB1,Tag,Provincia,1
4898,2020-01-01,Miércoles,4,DELLEPIANE LINIERS,Rec.Deuda,Provincia,1
564661,2020-03-11,Miércoles,15,ALBERDI,Efectivo,Centro,155

In [225]:
data_2020.head()

,fecha,dia,hora_inicio,estacion,forma_pago,sentido,cantidad_pasos
0,2020-01-01,Miércoles,0,ALBERDI,Efectivo,Centro,24
1,2020-01-01,Miércoles,0,ALBERDI,Efectivo,Provincia,80
2,2020-01-01,Miércoles,0,ALBERDI,Rec.Deuda,Provincia,1
3,2020-01-01,Miércoles,0,ALBERDI,Rec.Deuda,Centro,1
4,2020-01-01,Miércoles,0,ALBERDI,Rec.Deuda,Provincia,1

In [226]:
# para obtener el día de la semana
data_2020['dia'] = data_2020['fecha'].dt.day_of_week
data_2020.head()

       fecha  dia  hora_inicio estacion forma_pago    sentido  cantidad_pasos
0 2020-01-01    2            0  ALBERDI   Efectivo     Centro              24
1 2020-01-01    2            0  ALBERDI   Efectivo  Provincia              80
2 2020-01-01    2            0  ALBERDI  Rec.Deuda  Provincia               1
3 2020-01-01    2            0  ALBERDI  Rec.Deuda     Centro               1
4 2020-01-01    2            0  ALBERDI  Rec.Deuda  Provincia               1

#### **2021**

In [227]:
data_2021.sample(1)

,Año de Fecha Operativa,Cat Cobrada,Día de Fecha Operativa,Hora HH,ID Peaje,Mes de Fecha Operativa,Observacion,Sentido,Tipo Cobro,Pasos
2842875,2021,Auto,29,8,ILL,diciembre,Paso en Infracción con Multa,Centro,Rec.Deuda,19

In [228]:
data_2021.drop(columns = ['Cat Cobrada', 'Observacion'], inplace=True)

In [229]:
data_2021.rename(columns={'Año de Fecha Operativa': 'year'
                          , 'Día de Fecha Operativa': 'day'
                          , 'Mes de Fecha Operativa': 'month'
                          , 'Hora HH': 'hora_inicio'
                          , 'ID Peaje': 'estacion'
                          , 'Tipo Cobro': 'forma_pago'
                          , 'Sentido': 'sentido'
                          , 'Pasos': 'cantidad_pasos'
                          }, inplace=True)
data_2021

,year,day,hora_inicio,estacion,month,sentido,forma_pago,cantidad_pasos
0,2021,1,0,ALB,abril,Provincia,Efectivo,7
1,2021,1,0,ALB,abril,Provincia,Mercado Pago,4
2,2021,1,0,ALB,abril,Centro,Mercado Pago,1
3,2021,1,0,ALB,abril,Provincia,Rec.Deuda,1
4,2021,1,0,ALB,abril,Centro,Tag,19
...,...,...,...,...,...,...,...,...
3029362,2021,21,15,DEL,diciembre,Provincia,Violación,1969
3029363,2021,21,15,ILL,diciembre,Centro,Violación,3
3029364,2021,21,15,ILL,diciembre,Centro,Violación,2445
3029365,2021,21,15,ILL,diciembre,Provincia,Violación,3880
3029366,Total general,Total,Total,Total,Total,Total,Total,11684739

No tenemos una columna de 'fecha' como antes, sino 3 columnas de año, mes y día

In [230]:
# Months transformation

data_2021['month'].unique()

array(['abril', 'Total', 'marzo', 'mayo', 'febrero', 'enero', 'junio',
       'julio', 'agosto', 'septiembre', 'octubre', 'noviembre',
       'diciembre'], dtype=object)

In [231]:
# tenemos que transformar los meses, de string a int
meses = {'enero': 1
         , 'febrero': 2
         , 'marzo': 3
         , 'abril': 4
         , 'mayo': 5
         , 'junio': 6
         , 'julio': 7
         , 'agosto': 8
         , 'septiembre': 9
         , 'octubre': 10
         , 'noviembre': 11
         , 'diciembre': 12
         }

In [232]:
data_2021['month'] = data_2021['month'].replace(meses)
data_2021.sample(5)

,year,day,hora_inicio,estacion,month,sentido,forma_pago,cantidad_pasos
2599687,2021,10,10,AVE,11,Provincia,Mercado Pago,1
57310,2021,27,17,PB3,4,Provincia,Tag,6
1453881,2021,3,8,DEC,7,Centro,Mercado Pago,1
1774879,2021,9,7,AVE,8,Provincia,Tag,5
3026874,2021,27,18,ILP,12,Provincia,Tag,7

Eliminemos las filas de 'Total'

In [233]:
# Primero buscamos las filas donde month = 'Total' 
data_2021[data_2021['month']=='Total']

,year,day,hora_inicio,estacion,month,sentido,forma_pago,cantidad_pasos
221312,Total general,Total,Total,Total,Total,Total,Total,8282511
462353,Total general,Total,Total,Total,Total,Total,Total,9767077
672895,Total general,Total,Total,Total,Total,Total,Total,7176824
883005,Total general,Total,Total,Total,Total,Total,Total,8438456
1119475,Total general,Total,Total,Total,Total,Total,Total,8781879
1336090,Total general,Total,Total,Total,Total,Total,Total,8.501.733
1572358,Total general,Total,Total,Total,Total,Total,Total,9786464
1809716,Total general,Total,Total,Total,Total,Total,Total,10101639
2043919,Total general,Total,Total,Total,Total,Total,Total,10292771
2278122,Total general,Total,Total,Total,Total,Total,Total,10292771
2523998,Total general,Total,Total,Total,Total,Total,Total,10826500
2773845,Total general,Total,Total,Total,Total,Total,Total,11106073
3029366,Total general,Total,Total,Total,Total,Total,Total,11684739

In [234]:
# buscamos los index donde month = 'Total'
total = data_2021[data_2021['month']=='Total'].index
total

Index([ 221312,  462353,  672895,  883005, 1119475, 1336090, 1572358, 1809716,
       2043919, 2278122, 2523998, 2773845, 3029366],
      dtype='int64')

In [235]:
# y eliminamos estas filas
data_2021.drop([221312,  462353,  672895,  883005, 1119475, 1336090, 1572358, 1809716,
       2043919, 2278122, 2523998, 2773845, 3029366], inplace=True)
data_2021['month'].unique()

array([4, 3, 5, 2, 1, 6, 7, 8, 9, 10, 11, 12], dtype=object)

In [236]:
# Pasamos la columna fecha a formato datetime

data_2021['fecha'] = pd.to_datetime(data_2021[['year', 'day', 'month']])
data_2021.drop(columns=['year', 'day', 'month'], inplace = True)
data_2021.sample(5)

,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos,fecha
1519341,11,AVE,Centro,Tag,3,2021-07-07
903620,2,DEC,Centro,Mercado Pago,5,2021-01-09
129188,10,DEL,Provincia,Tag,1,2021-04-17
1481047,15,AVE,Provincia,Rec.Deuda,2,2021-07-22
2072639,14,ALB,Provincia,Tag,86,2021-09-13

In [237]:
data_2020.sample(5)

,fecha,dia,hora_inicio,estacion,forma_pago,sentido,cantidad_pasos
1239889,2020-07-18,5,14,ILLIA,Tag,Centro,4
112958,2020-01-15,2,18,PB1,Tag,Provincia,1
2155853,2020-11-14,5,12,AVELLANEDA,Tag,Provincia,47
814965,2020-04-29,2,15,ILP,Tag,Provincia,12
2268206,2020-11-16,0,14,ILP,Violación,Centro,1

In [238]:
data_2021.hora_inicio.value_counts()

hora_inicio
11    117195
10    116418
12    115123
15    114674
13    114438
9     114405
14    113857
16    113681
8     111390
17    111340
7     107888
18    106594
19    100526
6      99207
20     95249
21     86845
22     78533
5      77861
23     68652
0      58169
4      55047
1      53628
2      49605
3      47899
10     40354
11     40349
12     39986
13     39670
9      39670
15     39539
16     39519
14     39495
17     39189
8      38371
18     38217
7      37058
19     36494
20     35378
6      34975
21     33406
22     30712
5      27953
23     26164
0      22806
1      21491
4      20797
2      20267
3      19270
Name: count, dtype: int64

Datos raros, parece que están repetidos

In [239]:
data_2021.hora_inicio.unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '9', '10', '11', '12', '13', '14', '15', '16',
       '17', '18', '19', '20', '21', '22', '23', '0', '1', '2', '3', '4',
       '5', '6', '7', '8'], dtype=object)

In [240]:
# para obtener el día de la semana
data_2021['dia'] = data_2021['fecha'].dt.day_of_week
data_2021.sample(5)

,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos,fecha,dia
2434721,14,SAL,Provincia,Tag,11,2021-10-25,0
2041745,12,AVE,Provincia,Efectivo,3,2021-09-27,0
276694,8,ALB,Centro,Violación,1,2021-03-25,3
2675870,17,ILP,Provincia,Tag,18,2021-11-20,5
146184,17,ALB,Centro,Tag,7,2021-04-29,3

#### **2022**

In [241]:
data_2022

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,2022-01-01,Auto,0,ALB,Mercado Pago,Provincia,Mercado Pago,8
1,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Centro,Mercado Pago,4
2,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2
3,2022-01-01,Auto,0,ALB,Tag - PosPago,Provincia,Tag,65
4,2022-01-01,Auto,0,ALB,Tag - PosPago OCR,Centro,Tag,32
...,...,...,...,...,...,...,...,...
269345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
# algunos nulls

data_2022.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3122274 entries, 0 to 269349
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Año de Fecha Operativa  object
 1   Cat Cobrada             object
 2   Hora HH                 object
 3   ID Peaje                object
 4   Observacion             object
 5   Sentido                 object
 6   Tipo Cobro              object
 7   Pasos                   object
dtypes: object(8)
memory usage: 214.4+ MB

Como son 'objects', no detecta los nulls, tengo que cambiar el dtype

In [243]:
data_2022['Hora HH'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6', 'Auto', 'Auto con trailer', 'Moto', 'N/D',
       'Pago doble Moto', 'Pesados 2 Ejes', 'Pesados 3 Ejes',
       'Pesados 4 Ejes', 'Pesados 5 Ejes', 'Pesados 6 Ejes', 'Total', nan],
      dtype=object)

No hay solo horas, también str

In [244]:
data_2022['Hora HH'].value_counts()

Hora HH
11                  134423
10                  133372
9                   132073
15                  131297
12                  131262
14                  129986
13                  129313
16                  129287
8                   126723
17                  126260
7                   124136
18                  122409
6                   116768
19                  116429
20                  111947
21                  105714
5                    97398
22                   96666
23                   86878
0                    75300
Auto                 69959
1                    69606
4                    68545
2                    64243
3                    61405
Pesados 2 Ejes       42720
Pesados 3 Ejes       23782
Pesados 5 Ejes       23232
Moto                 18033
N/D                  15459
Pesados 6 Ejes       15306
18                   13486
Pesados 4 Ejes       13323
17                   13305
16                   13036
19                   12992
15                   12979
14                   12730
13                   12600
20                   12474
21                   12145
12                   11913
11                   11879
10                   11796
9                    11000
22                   10954
8                    10587
7                    10340
23                    9953
6                     9399
5                     7695
Auto con trailer      5937
0                     5509
4                     5113
1                     5017
2                     4711
3                     4530
Pago doble Moto       3381
Total                    7
Name: count, dtype: int64

In [245]:
data_2022[data_2022['Hora HH']=='Auto']

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
245064,2022-02-01,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1
245065,2022-02-01,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,2
245066,2022-02-01,0,Auto,ALB,Tag - PosPago,Centro,Tag,24
245067,2022-02-01,0,Auto,ALB,Tag - PosPago,Provincia,Tag,46
245068,2022-02-01,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,6
...,...,...,...,...,...,...,...,...
315018,2022-02-28,23,Auto,SAR,Mercado Pago,Provincia,Mercado Pago,7
315019,2022-02-28,23,Auto,SAR,Mercado Pago OCR,Provincia,Mercado Pago,1
315020,2022-02-28,23,Auto,SAR,Tag - PosPago,Provincia,Tag,37
315021,2022-02-28,23,Auto,SAR,Tag - PosPago OCR,Provincia,Tag,2
315022,2022-02-28,23,Auto,SAR,Violación - Normal,Provincia,Violación,6

In [246]:
df_2022_0102['Hora HH'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6', 'Auto', 'Auto con trailer', 'Moto', 'N/D',
       'Pago doble Moto', 'Pesados 2 Ejes', 'Pesados 3 Ejes',
       'Pesados 4 Ejes', 'Pesados 5 Ejes', 'Pesados 6 Ejes'], dtype=object)

In [247]:
df_2022_03['Hora HH'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '20', '21', '22', '23', 'Total'], dtype=object)

Parece que solo hay datos raros en enero-febrero

In [248]:
df_2022_0102.sample(10)

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
74750,2022-01-14,Auto con trailer,11,DEC,Tag - PosPago,Centro,Tag,1
411101,2022-02-13,5,Pesados 3 Ejes,DEL,Efectivo,Provincia,Efectivo,2
28340,2022-01-13,Auto,8,ILL,T.Magnética Disc.,Provincia,Tarjeta Magnética,2
277441,2022-02-14,7,Auto,ILL,Exento - Reglamento,Centro,Exento,15
308818,2022-02-26,13,Auto,ILL,Efectivo,Provincia,Efectivo,485
280070,2022-02-15,8,Auto,ILL,Paso en infracción con Multa LPR,Centro,Rec.Deuda,17
171543,2022-01-12,Pesados 3 Ejes,18,AVE,Mercado Pago,Centro,Mercado Pago,1
247760,2022-02-02,4,Auto,AVE,Tag - PosPago OCR,Centro,Tag,37
125057,2022-01-07,Pesados 2 Ejes,3,PB4,Tag - PosPago OCR,Centro,Tag,1
135364,2022-01-13,Pesados 2 Ejes,23,ILL,Exento - Reglamento,Centro,Exento,1

Parece que en algunas filas, las columnas ``Cat Cobrada`` y ``Hora HH`` están cambiadas

In [249]:
data_2020['hora_inicio'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [250]:
data_2022['Hora HH'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6', 'Auto', 'Auto con trailer', 'Moto', 'N/D',
       'Pago doble Moto', 'Pesados 2 Ejes', 'Pesados 3 Ejes',
       'Pesados 4 Ejes', 'Pesados 5 Ejes', 'Pesados 6 Ejes', 'Total', nan],
      dtype=object)

No hay solo strings, también horas en formato str en vez de int

In [251]:
hours = [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 
         '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1', '2', '3', '4', '5', '6' ]
data_2022['Hora HH'].isin(hours).value_counts()

Hora HH
True     2867583
False     254691
Name: count, dtype: int64

Valores erróneos en más de 250.000 de filas. Separemos el df en 2, las filas correctas y las incorrectas

In [252]:
# filas erróneas
data_2022_columns = data_2022[~data_2022['Hora HH'].isin(hours)]
data_2022_columns

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
245064,2022-02-01,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1
245065,2022-02-01,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,2
245066,2022-02-01,0,Auto,ALB,Tag - PosPago,Centro,Tag,24
245067,2022-02-01,0,Auto,ALB,Tag - PosPago,Provincia,Tag,46
245068,2022-02-01,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,6
...,...,...,...,...,...,...,...,...
269345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [253]:
data_2022_columns['Hora HH'].unique()

array(['Auto', 'Auto con trailer', 'Moto', 'N/D', 'Pago doble Moto',
       'Pesados 2 Ejes', 'Pesados 3 Ejes', 'Pesados 4 Ejes',
       'Pesados 5 Ejes', 'Pesados 6 Ejes', 'Total', nan], dtype=object)

In [254]:
# filas correctas, reemplazando el df original
data_2022 = data_2022[data_2022['Hora HH'].isin(hours)]
data_2022

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
0,2022-01-01,Auto,0,ALB,Mercado Pago,Provincia,Mercado Pago,8
1,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Centro,Mercado Pago,4
2,2022-01-01,Auto,0,ALB,Mercado Pago OCR,Provincia,Mercado Pago,2
3,2022-01-01,Auto,0,ALB,Tag - PosPago,Provincia,Tag,65
4,2022-01-01,Auto,0,ALB,Tag - PosPago OCR,Centro,Tag,32
...,...,...,...,...,...,...,...,...
264485,31/12/2022,Pesados 2 Ejes,23,PB4,Tag - PosPago,Centro,Tag,2
264486,31/12/2022,Pesados 5 Ejes,23,AVE,Mercado Pago,Provincia,Mercado Pago,1
264487,31/12/2022,Pesados 5 Ejes,23,DEC,Tag - PosPago,Centro,Tag,1
264488,31/12/2022,Pesados 5 Ejes,23,ILP,Tag - PosPago,Provincia,Tag,3
264489,31/12/2022,Pesados 5 Ejes,23,PB1,Tag - PosPago,Provincia,Tag,3

In [255]:
data_2022_columns.sample(5)

,Año de Fecha Operativa,Cat Cobrada,Hora HH,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
305306,2022-02-25,7,Auto,ALB,Tag - PosPago OCR,Provincia,Tag,94
273306,2022-02-12,11,Auto,ALB,Mercado Pago OCR,Centro,Mercado Pago,12
318918,2022-02-18,15,Auto con trailer,AVE,Efectivo,Centro,Efectivo,2
258913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
407327,2022-02-08,20,Pesados 3 Ejes,AVE,Metrobus no hab. TAG pospago,Provincia,Tag,4

In [256]:
# intercambiamos las columnas
data_2022_columns.rename(columns={'Cat Cobrada': 'Hora HH', 'Hora HH': 'Cat Cobrada'}, inplace=True)
data_2022_columns

,Año de Fecha Operativa,Hora HH,Cat Cobrada,ID Peaje,Observacion,Sentido,Tipo Cobro,Pasos
245064,2022-02-01,0,Auto,ALB,Mercado Pago,Centro,Mercado Pago,1
245065,2022-02-01,0,Auto,ALB,Mercado Pago,Provincia,Mercado Pago,2
245066,2022-02-01,0,Auto,ALB,Tag - PosPago,Centro,Tag,24
245067,2022-02-01,0,Auto,ALB,Tag - PosPago,Provincia,Tag,46
245068,2022-02-01,0,Auto,ALB,Tag - PosPago OCR,Centro,Tag,6
...,...,...,...,...,...,...,...,...
269345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [257]:
data_2022_columns['Hora HH'].unique()

array(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 0, 'Total', nan], dtype=object)

In [258]:
data_2022 = pd.concat([data_2022, data_2022_columns])
data_2022['Hora HH'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6', 'Total', nan], dtype=object)

In [259]:
# eliminamos columnas que no necesitamos 
data_2022.drop(columns = ['Cat Cobrada', 'Observacion'], inplace=True)

In [260]:
# cambiamos de nombre algunas columnas
data_2022.rename(columns={'Año de Fecha Operativa': 'fecha'
                          , 'Hora HH': 'hora_inicio'
                          , 'ID Peaje': 'estacion'
                          , 'Tipo Cobro': 'forma_pago'
                          , 'Sentido': 'sentido'
                          , 'Pasos': 'cantidad_pasos'
                          }, inplace=True)
data_2022

,fecha,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos
0,2022-01-01,0,ALB,Provincia,Mercado Pago,8
1,2022-01-01,0,ALB,Centro,Mercado Pago,4
2,2022-01-01,0,ALB,Provincia,Mercado Pago,2
3,2022-01-01,0,ALB,Provincia,Tag,65
4,2022-01-01,0,ALB,Centro,Tag,32
...,...,...,...,...,...,...
269345,NaN,NaN,NaN,NaN,NaN,NaN
269346,NaN,NaN,NaN,NaN,NaN,NaN
269347,NaN,NaN,NaN,NaN,NaN,NaN
269348,NaN,NaN,NaN,NaN,NaN,NaN
269349,NaN,NaN,NaN,NaN,NaN,NaN

In [261]:
data_2022['hora_inicio'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6', 'Total', nan], dtype=object)

Eliminemos las filas de 'Total'

In [262]:
# Primero buscamos las filas donde month = 'Total' 
data_2022[data_2022['hora_inicio']=='Total']

                fecha hora_inicio estacion sentido forma_pago cantidad_pasos
263187  Total general       Total    Total   Total      Total     11159759.0
252036  Total general       Total    Total   Total      Total     11.136.775
258791  Total general       Total    Total   Total      Total     11.159.709
251245  Total general       Total    Total   Total      Total     11.052.052
266902  Total general       Total    Total   Total      Total     11.961.134
268058  Total general       Total    Total   Total      Total     12.039.484
264490  Total general       Total    Total   Total      Total     11.483.646

In [263]:
# buscamos los index donde month = 'Total'
total = data_2022[data_2022['hora_inicio']=='Total'].index
total

Index([263187, 252036, 258791, 251245, 266902, 268058, 264490], dtype='int64')

In [264]:
# y eliminamos estas filas
data_2022.drop([263187, 252036, 258791, 251245, 264209, 266902, 264251, 268058, 269350, 264490], inplace=True)
data_2022['hora_inicio'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6', nan], dtype=object)

Tenemos que eliminar también los NaN

In [265]:
data_2022['hora_inicio'].isna().value_counts()

hora_inicio
False    3098660
True       23548
Name: count, dtype: int64

In [266]:
data_2022[data_2022['hora_inicio'].isna()].sample(10)

       fecha hora_inicio estacion sentido forma_pago cantidad_pasos
269097   NaN         NaN      NaN     NaN        NaN            NaN
267484   NaN         NaN      NaN     NaN        NaN            NaN
255479   NaN         NaN      NaN     NaN        NaN            NaN
252328   NaN         NaN      NaN     NaN        NaN            NaN
257587   NaN         NaN      NaN     NaN        NaN            NaN
254653   NaN         NaN      NaN     NaN        NaN            NaN
258126   NaN         NaN      NaN     NaN        NaN            NaN
255847   NaN         NaN      NaN     NaN        NaN            NaN
252082   NaN         NaN      NaN     NaN        NaN            NaN
262278   NaN         NaN      NaN     NaN        NaN            NaN

Los valores de todas las columnas son nulls, elimino estas filas

In [267]:
data_2022.shape

(3122208, 6)

In [268]:
data_2022.dropna(inplace=True)
data_2022.shape

(3098660, 6)

In [269]:
data_2022['hora_inicio'].unique()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', '21', '22', '23', '0', '1',
       '2', '3', '4', '5', '6'], dtype=object)

In [270]:
data_2022['hora_inicio'] = data_2022['hora_inicio'].astype(int)

In [271]:
data_2022

,fecha,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos
0,2022-01-01,0,ALB,Provincia,Mercado Pago,8
1,2022-01-01,0,ALB,Centro,Mercado Pago,4
2,2022-01-01,0,ALB,Provincia,Mercado Pago,2
3,2022-01-01,0,ALB,Provincia,Tag,65
4,2022-01-01,0,ALB,Centro,Tag,32
...,...,...,...,...,...,...
476191,2022-02-28,23,ILP,Provincia,Violación,1
476192,2022-02-28,23,PB1,Provincia,Tag,4
476193,2022-02-28,23,PB1,Provincia,Tag,1
476194,2022-02-28,23,PB2,Centro,Tag,1
476195,2022-02-28,23,PB4,Centro,Tag,14

In [272]:
data_2022.reset_index(drop=True, inplace=True)

In [273]:
data_2022

,fecha,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos
0,2022-01-01,0,ALB,Provincia,Mercado Pago,8
1,2022-01-01,0,ALB,Centro,Mercado Pago,4
2,2022-01-01,0,ALB,Provincia,Mercado Pago,2
3,2022-01-01,0,ALB,Provincia,Tag,65
4,2022-01-01,0,ALB,Centro,Tag,32
...,...,...,...,...,...,...
3098655,2022-02-28,23,ILP,Provincia,Violación,1
3098656,2022-02-28,23,PB1,Provincia,Tag,4
3098657,2022-02-28,23,PB1,Provincia,Tag,1
3098658,2022-02-28,23,PB2,Centro,Tag,1
3098659,2022-02-28,23,PB4,Centro,Tag,14

In [274]:
data_2022.sample(5)

,fecha,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos
1284311,2022-07-02 00:00:00,15,ILP,Provincia,Tag,27.0
1464544,2022-07-23 00:00:00,13,DEL,Provincia,Tag,5.0
276309,4/3/2022,15,AVE,Centro,Mercado Pago,1.0
1277370,2022-07-01 00:00:00,18,RET,Provincia,Violación,31.0
903828,17/5/2022,21,PB2,Centro,Tag,8.0

In [275]:
# Pasamos la columna fecha a formato datetime
data_2022['fecha'] = pd.to_datetime(data_2022.fecha, format='mixed')

# para obtener el día de la semana
data_2022['dia'] = data_2022['fecha'].dt.day_of_week

In [276]:
data_2022.sample(5)

,fecha,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos,dia
1222997,2022-06-25,13,AVE,Centro,Tag,4,5
1385536,2022-07-14,12,ALB,Centro,Tag,5.0,3
1541761,2022-01-08,19,ILL,Provincia,Mercado Pago,13.0,5
2592234,2022-11-29,19,PB2,Centro,Tag,9.0,1
480100,2022-03-28,21,AVE,Provincia,Rec.Deuda,1.0,0

In [277]:
data_2021.sample(5)

        hora_inicio estacion sentido forma_pago cantidad_pasos      fecha  dia
1643190           7      ILP  Centro  Violación              1 2021-08-04    2
2144381          20      PB4  Centro  Violación             45 2021-09-14    1
1994428           6      DEC  Centro        Tag              2 2021-09-12    6
1224424          13      PB2  Centro        Tag              2 2021-06-01    1
2460999           5      PB4  Centro        Tag             12 2021-10-22    4

In [278]:
data_2020.sample(5)

,fecha,dia,hora_inicio,estacion,forma_pago,sentido,cantidad_pasos
117125,2020-01-15,2,4,PB1,Tag,Provincia,3
664836,2020-03-27,4,6,PB2,Tag,Centro,2
720839,2020-04-10,4,20,ILLIA,Tag,Centro,18
1562576,2020-08-13,3,14,ILLIA,Tag,Provincia,1
1740593,2020-09-06,6,21,DELLEPIANE LINIERS,Exento,Provincia,3

### Concat 2020, 2021 y 2022

In [279]:
data_2020.shape

(2533743, 7)

In [280]:
data_2021.shape

(3029354, 7)

In [281]:
data_2022.shape

(3098660, 7)

In [282]:
#Unimos los 3 datasets, podemos hacerlo asi directamente ya que tienen las mismas columnas
data_2020_22 = pd.concat([data_2022, data_2021, data_2020])
data_2020_22.sample()

,fecha,hora_inicio,estacion,sentido,forma_pago,cantidad_pasos,dia
1428330,2020-08-07,11,AVELLANEDA,Centro,Rec.Deuda,11,4

We will work with the **Illia** station and this payment method: **Efectivo**

In [283]:
data_2020_22.estacion.unique()

array(['ALB', 'AVE', 'DEC', 'DEL', 'ILL', 'ILP', 'PB1', 'PB2', 'PB4',
       'RET', 'SAL', 'SAR', 'PB3', 'ALBERDI', 'AVELLANEDA',
       'DELLEPIANE LINIERSLEPIANE CENTRO', 'DELLEPIANE LINIERS', 'ILLIA',
       'RETIRO', 'SALGUERO', 'SARMIENTO'], dtype=object)

In [284]:
# Hay 'ILLIA' y 'ILL', investigemos

data_2020.estacion.unique()

array(['ALBERDI', 'AVELLANEDA', 'DELLEPIANE LINIERSLEPIANE CENTRO',
       'DELLEPIANE LINIERS', 'ILLIA', 'ILP', 'PB1', 'PB3', 'PB4',
       'RETIRO', 'SALGUERO', 'SARMIENTO', 'PB2'], dtype=object)

In [285]:
data_2020_22.forma_pago.unique()

array(['Mercado Pago', 'Tag', 'Efectivo', 'Violación', 'CPP', 'Exento',
       'Rec.Deuda', 'Tarjeta Magnética'], dtype=object)

In [286]:
#Nos quedamos solamente con la estación Illia y la forma de pago Efectivo
data_2020_22 = data_2020_22[(data_2020_22['estacion'].isin(["ILL", 'ILLIA'])) & (data_2020_22['forma_pago']=="Efectivo")]

#Quitamos las columnas que no vamos a utilizar
data_2020_22.drop(columns = ['forma_pago', 'estacion'], inplace = True)

data_2020_22.head()

         fecha hora_inicio    sentido cantidad_pasos  dia
297 2022-01-01           5     Centro            312    5
298 2022-01-01           5  Provincia            112    5
441 2022-01-01           7     Centro            148    5
442 2022-01-01           7  Provincia             66    5
531 2022-01-01           8     Centro            115    5

In [287]:
data_2020_22.shape

(167438, 5)

In [288]:
data_2020_22.hora_inicio.unique()

array([5, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       6, 4, 0, 1, 2, 3, '9', '11', '19', '14', '16', '0', '6', '7', '12',
       '13', '17', '21', '22', '1', '15', '10', '8', '18', '20', '2', '3',
       '4', '5', '23'], dtype=object)

In [289]:
data_2020_22.hora_inicio = data_2020_22.hora_inicio.astype(int)

In [290]:
data_2020_22.hora_inicio.unique()

array([ 5,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22,
       23,  6,  4,  0,  1,  2,  3])

In [291]:
#Pasamos la columna fecha a formato datetime, y le unimos la hora_inicio como hora
data_2020_22['fecha2'] = pd.to_datetime(data_2020_22.fecha) + pd.to_timedelta(data_2020_22.hora_inicio, unit = 'h')

#Quitamos las columnas fecha y hora_inicio ya que las incluimos en el campo fecha2
data_2020_22.drop(columns=['fecha','hora_inicio'], inplace = True)

data_2020_22.head()

       sentido cantidad_pasos  dia              fecha2
297     Centro            312    5 2022-01-01 05:00:00
298  Provincia            112    5 2022-01-01 05:00:00
441     Centro            148    5 2022-01-01 07:00:00
442  Provincia             66    5 2022-01-01 07:00:00
531     Centro            115    5 2022-01-01 08:00:00

In [292]:
# Corregimos el nombre de fecha2 a fecha
data_2020_22.rename(columns = {'fecha2':'fecha'}, inplace = True) 
data_2020_22.head()

       sentido cantidad_pasos  dia               fecha
297     Centro            312    5 2022-01-01 05:00:00
298  Provincia            112    5 2022-01-01 05:00:00
441     Centro            148    5 2022-01-01 07:00:00
442  Provincia             66    5 2022-01-01 07:00:00
531     Centro            115    5 2022-01-01 08:00:00

In [293]:
# Reordenamos el dataset por fecha
data_2020_22.sort_values('fecha', inplace = True)
data_2020_22.reset_index(drop=True, inplace = True)
data_2020_22

          sentido cantidad_pasos  dia               fecha
0          Centro            326    2 2020-01-01 00:00:00
1       Provincia              2    2 2020-01-01 00:00:00
2          Centro              1    2 2020-01-01 00:00:00
3          Centro              4    2 2020-01-01 00:00:00
4       Provincia            319    2 2020-01-01 00:00:00
...           ...            ...  ...                 ...
167433     Centro              9    5 2022-12-31 19:00:00
167434  Provincia             12    5 2022-12-31 19:00:00
167435     Centro              2    5 2022-12-31 19:00:00
167436  Provincia              1    5 2022-12-31 19:00:00
167437  Provincia              1    5 2022-12-31 20:00:00

[167438 rows x 4 columns]

In [294]:
data_2020_22.dia.unique()

array([2, 3, 4, 5, 6, 0, 1])

In [295]:
days_of_week = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}

In [296]:
data_2020_22['dia'] = data_2020_22['dia'].replace(days_of_week)
data_2020_22.sample(5)

         sentido cantidad_pasos        dia               fecha
55246     Centro              1    Tuesday 2021-01-19 18:00:00
39287  Provincia             13     Friday 2020-10-02 12:00:00
94098     Centro            533  Wednesday 2021-10-06 10:00:00
61055  Provincia              5   Thursday 2021-02-25 16:00:00
65207     Centro              1    Tuesday 2021-03-23 16:00:00

In [297]:
# cambiamos el orden de las columnas

data_2020_22.columns

Index(['sentido', 'cantidad_pasos', 'dia', 'fecha'], dtype='object')

In [298]:
columnas = ['fecha', 'dia', 'sentido', 'cantidad_pasos']
data_2020_22 = data_2020_22.reindex(columns=columnas)

In [299]:
data_2020_22.sample(5)

                     fecha        dia    sentido cantidad_pasos
99930  2021-11-17 12:00:00  Wednesday  Provincia            395
150111 2022-09-12 08:00:00     Monday     Centro            5.0
155368 2022-10-18 08:00:00    Tuesday  Provincia           16.0
122    2020-01-01 15:00:00  Wednesday     Centro             13
33735  2020-08-28 10:00:00     Friday  Provincia              3

en ``cantidad_pasos`` hay floats e integers

In [300]:
data_2020_22.dtypes

fecha             datetime64[ns]
dia                       object
sentido                   object
cantidad_pasos            object
dtype: object

In [301]:
data_2020_22.cantidad_pasos = data_2020_22.cantidad_pasos.astype(int)

In [302]:
data_2020_22.dtypes

fecha             datetime64[ns]
dia                       object
sentido                   object
cantidad_pasos             int32
dtype: object

In [303]:
data_2020_22.to_csv('Data/illia_2020_2022.csv')