## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [23]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [25]:
sample_list_1 = random.sample(range(100), k=80)
# Your code here
sample_list_1

[61,
 2,
 67,
 10,
 34,
 65,
 6,
 70,
 55,
 88,
 85,
 31,
 25,
 84,
 17,
 0,
 38,
 41,
 8,
 93,
 76,
 66,
 90,
 20,
 22,
 40,
 27,
 64,
 14,
 35,
 21,
 56,
 39,
 68,
 95,
 42,
 45,
 80,
 86,
 16,
 60,
 59,
 36,
 75,
 7,
 81,
 98,
 12,
 50,
 99,
 11,
 13,
 5,
 48,
 89,
 23,
 96,
 74,
 77,
 78,
 79,
 82,
 46,
 72,
 69,
 33,
 44,
 30,
 4,
 1,
 91,
 32,
 26,
 62,
 57,
 3,
 24,
 43,
 29,
 51]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [52]:
# Gets the count of the unique values 
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [68]:
# your code
# I don't know how to do that, I'm just gonna copy the solution offered by ChatGPT so I can continue with the following exercises

sample_list_2 = []

for _ in range(80):
    sample_list_2.append(random.randint(0, 100))

print(sample_list_2)

[84, 34, 67, 75, 87, 47, 52, 74, 42, 16, 23, 94, 68, 89, 87, 46, 33, 18, 84, 85, 58, 86, 67, 68, 0, 65, 31, 32, 72, 77, 63, 6, 74, 6, 60, 81, 91, 94, 83, 84, 77, 3, 4, 100, 37, 62, 27, 27, 92, 60, 61, 31, 90, 79, 93, 51, 30, 27, 62, 42, 73, 84, 0, 28, 72, 41, 54, 51, 73, 39, 46, 83, 39, 28, 35, 81, 1, 17, 38, 60]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [71]:
# Your code here
set2 = set(sample_list_2)
len(set2)

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [73]:
# Your code here
set3 = set1.difference(set2)
set3

{2,
 5,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 20,
 21,
 22,
 24,
 25,
 26,
 29,
 36,
 40,
 43,
 44,
 45,
 48,
 50,
 55,
 56,
 57,
 59,
 64,
 66,
 69,
 70,
 76,
 78,
 80,
 82,
 88,
 95,
 96,
 98,
 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [75]:
# Your code here
set4 = set2.difference(set1)
set4

{18, 28, 37, 47, 52, 54, 58, 63, 73, 83, 87, 92, 94, 100}

In [93]:
set4_1 = set2 - set1
set4_1

{18, 28, 37, 47, 52, 54, 58, 63, 73, 83, 87, 92, 94, 100}

In [97]:
set4 == set4_1

True

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [105]:
# Your code here
set5 = set1 & set2
set5

{0,
 1,
 3,
 4,
 6,
 16,
 17,
 23,
 27,
 30,
 31,
 32,
 33,
 34,
 35,
 38,
 39,
 41,
 42,
 46,
 51,
 60,
 61,
 62,
 65,
 67,
 68,
 72,
 74,
 75,
 77,
 79,
 81,
 84,
 85,
 86,
 89,
 90,
 91,
 93}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [123]:
# Your code here
print("Set 1 has", len(set1), "unique numbers")
print("Set 2 has", len(set2), "unique numbers, 80 in total")
print("There are", len(set3), "elements present in set1 but not in set2")
print("There are", len(set4), "elements present in set2 but not in set1")
print("There are", len(set5), "elements present in set1 and set2")

Set 1 has 80 unique numbers
Set 2 has 54 unique numbers, 80 in total
There are 40 elements present in set1 but not in set2
There are 14 elements present in set2 but not in set1
There are 40 elements present in set1 and set2

#### Create an empty set called `set6`.

In [129]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [133]:
# Your code here
set6.update(set3, set5)
set6

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 16,
 17,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 50,
 51,
 55,
 56,
 57,
 59,
 60,
 61,
 62,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 84,
 85,
 86,
 88,
 89,
 90,
 91,
 93,
 95,
 96,
 98,
 99}

#### Check if `set1` and `set6` are equal.

In [135]:
len(set6)

80

In [137]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [139]:
# Your code here
set2.issubset(set1)

False

In [141]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [145]:
# Your code here
union1 = set3.union(set4, set5) 
union2 = set1.union(set2)
union1 == union2

True

#### Using the `pop` method, remove the first element from `set1`.

In [208]:
set1 = set(sample_list_1)

In [210]:
len(set1)

80

In [212]:
# your code here
set8 = set1.pop()

print("The value of the item removed is: ", set8)

The value of the item removed is:  0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [220]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set9 = set(list_to_remove)
set10 = set1 - set9
set10

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 14,
 16,
 17,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 40,
 42,
 43,
 44,
 45,
 46,
 48,
 50,
 55,
 56,
 57,
 60,
 62,
 64,
 65,
 66,
 67,
 68,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 93,
 95,
 96,
 98}

In [222]:
len(set10)

63

In [224]:
len(list_to_remove)

20